
<br>
<div class="container-fluid">
  <div class="card">
      <div class="row">
          <div class="col-lg-12">
              <p class="Job">SHORTLISTED CANDIDATES DASHBOARD</p>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-3">
              <input class="form-control" placeholder="Search">
          </div>
          <div class="col-lg-3">
            <select name="Select CTC"  class="form-control">
                <option value="Select CTC">Select CTC</option>
                <option value="30,000-50,000">30,000-50,000</option>
                <option value="50,000-1,00000">50,000-1,00000</option>
                <option value="1,00000-2,00000">1,00000-2,00000</option>
              </select>
        </div>
        <div class="col-lg-3">
            <select name="Select CTC"  class="form-control">
                <option value="Select Notice Period">Select Notice Period</option>
                <option value="15days">15days</option>
                <option value="30 days">30 days</option>
                <option value="45days">45days</option>
                <option value="90days">90days</option>
              </select>
        </div>
        <div class="col-lg-1">
            <p>Count : 3</p>
        </div>
      </div> <br>
      <div class="row">
        <div class="col-lg-12">
            <table class="table tablebordered">
                <thead>
                    <tr class="newFont">
                        <th>Vendor</th>
                        <th>Job Reference ID</th>
                        <th>Interview Date</th>
                        <th>Time</th>
                        <th>Interviewer</th>
                        <th>Job Title</th>
                        <th>Candidate Name	</th>
                        <th>Phone No</th>
                        <th>Email</th>
                        <th>CTC</th>
                        <th>Notice Period	</th> 
                        <th>Total Years of Experience</th>
                        <th>Relevant Experience</th>
                        <th>Resume</th>
                        <th>Comments</th>
                        <th>Actions</th>
                    </tr>
                    <tr class="Textdata">
                      <td>Amaze</td>
                      <td>8064</td>                                   
                      <td>17-Aug-2021</td>
                      <td>07:00 PM</td>
                      <td>Sanath S</td>
                      <td>	Testing job</td>
                      <td>ajay</td>
                      <td>09990007780</td>
                      <td>ajay@gmail.com</td>
                      <td>9 LPA</td>
                      <td>20 Days</td>
                      <td>2</td>
                      <td>1</td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr class="Textdata">
                        <td>Amaze</td>
                        <td>8064</td>                                   
                        <td>17-Aug-2021</td>
                        <td>07:00 PM</td>
                        <td>Sanath S</td>
                        <td>	Testing job</td>
                        <td>ajay</td>
                        <td>09990007780</td>
                        <td>ajay@gmail.com</td>
                        <td>9 LPA</td>
                        <td>20 Days</td>
                        <td>2</td>
                        <td>1</td>
                        <td></td>
                        <td></td>
                      </tr> 
                      <tr class="Textdata">
                        <td>Amaze</td>
                        <td>8064</td>                                   
                        <td>17-Aug-2021</td>
                        <td>07:00 PM</td>
                        <td>Sanath S</td>
                        <td>	Testing job</td>
                        <td>ajay</td>
                        <td>09990007780</td>
                        <td>ajay@gmail.com</td>
                        <td>9 LPA</td>
                        <td>20 Days</td>
                        <td>2</td>
                        <td>1</td>
                        <td></td>
                        <td></td>
                      </tr>
                </thead>
            </table>
        </div>
    </div>
  </div>
</div>

