<div class="container-fluid">

    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">

            <div class="row">
                <div class="col-lg-2">
                    <p class="FormHeadText">Client Staff Form</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10"></div>
            </div>
            <br>
            <!-- <div class="row LocDashboard">
                <div class="col-lg-12">
                    <label>Client Staff Details</label>
                </div>
            </div> -->
            <div class="card BOXCARD">
                <div class="row leavereq">
                    <div class="col-md-2">
                        <label>Client Name<span style="color: red;">*</span></label>
                    </div>
                    <div class="col-md-2">
                        <label>Role<span style="color: red;">*</span></label>
                    </div>
                    <div class="col-md-2" >
                        <label>Client Staff Name<span style="color: red;">*</span></label>
                    </div>
                    <div class="col-md-2">
                        <label>Email<span style="color: red;">*</span></label>
                    </div>
                    <div class="col-md-2">
                        <label>Phone No.<span style="color: red;">*</span></label>
                    </div>
                    <div class="col-md-2">
                        <label>Address<span style="color: red;">*</span></label>
                    </div>
                    
                    <!-- <div class="col-md-2">
                        <label>Signature<span style="color: red;">*</span></label>
                    </div> -->
                    
                    <!-- <div class="col-md-2">
                        <label>SS Total<span style="color: red;">*</span></label>
                    </div> -->
                </div>
                <div class="row leavereq">
                    <!-- <div class="col-md-2">
                        <label>Signature<span style="color: red;">*</span></label>
                    </div> -->
                    <!-- <div class="col-md-2">
                        <div class="dropdown">
                            <select class="form-control inputfield" >
                                <option value="Select">Select Max. Range</option>
                                <option value="1">Max. Range 1000 to 1500</option>
                                <option value="1">Max. Range 1501 to 2000</option>
                                <option value="1">Max. Range 2001 to 2500</option>
                                <option value="1">Max. Range 2501 to 3000</option>
                            </select>
                        </div>
                    </div> -->
                    <!-- <div class="col-md-2">
                        <ngx-dropzone (change)="onSelect($event)" style="height: 60px;">
                            <ngx-dropzone-label>Drop it here!</ngx-dropzone-label>
                            <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                            </ngx-dropzone-preview>
                        </ngx-dropzone>
                    </div> -->
                    <div class="col-md-2">
                        <div class="dropdown">
                            <select class="form-control" [(ngModel)]="Staff">
                                <option value="">Select </option>
                                <option *ngFor="let Staff of StaffList" value={{Staff.id}}>{{Staff.name}} </option>
                            </select>
                        </div>
                    </div> 
                    <div class="col-md-2">
                        <div class="dropdown">
                            <select class="form-control" name="Role" Id="Role" [(ngModel)]="Role">
                                <option value="">Select </option>
                                <option *ngFor="let Client of ClientList" value={{Client.id}}>{{Client.short}} </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control inputfield" [(ngModel)]="Name">
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control inputfield" [(ngModel)]="Email">
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control inputfield" [(ngModel)]="PhoneNo">
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control inputfield" [(ngModel)]="Address">
                    </div>
                    
                    <!-- <div class="col-md-2">
                        <ngx-dropzone (change)="onSelect($event)" style="height: 60px;">
                            <ngx-dropzone-label>Drop it here!</ngx-dropzone-label>
                            <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                            </ngx-dropzone-preview>
                        </ngx-dropzone>
                    </div> -->
                </div>
                <br>
                <div class="row leavereq">
                    <div class="col-md-2">
                        <label>Signature</label>
                    </div>
                    <!-- <div class="col-md-2">
                        <label>MPF-EE<span style="color: red;">*</span></label>
                    </div>
                    <div class="col-md-2">
                        <label>EC-ER<span style="color: red;">*</span></label>
                    </div>
                    <div class="col-md-2">
                        <label>Total Contribution<span style="color: red;">*</span></label>
                    </div> -->
                </div>
                <div class="row leavereq">
                    <div class="col-md-2">
                        <ngx-dropzone (change)="onSelect($event)" style="height: 60px;">
                            <ngx-dropzone-label>Drop it here!</ngx-dropzone-label>
                            <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                            </ngx-dropzone-preview>
                        </ngx-dropzone>
                    </div>
                    <div class="col-md-8">
                    </div>
                    <div class="col-lg-1">
                        <button class="form-control CancelBTN"  (click)="cancel()">Cancel</button>
                    </div>
                    <div class="col-lg-1">
                        <button type="button" class="form-control SubmitBTN" *ngIf="id==null || id==undefined"
                            (click)="Save()">Save</button>
                        <button type="button" class="form-control SubmitBTN" *ngIf="id!=null || id!=undefined"
                            (click)="Update()">Update</button>
                    </div>
                </div>
                <br>
                <!-- <div class="row">
                    <div class="col-lg-10"></div>
                    <div class="col-lg-1">
                        <button class="form-control CancelBTN">Cancel</button>
                    </div>
                    <div class="col-lg-1">
                        <button class="form-control SubmitBTN" (click)="save()" >Submit</button>
                        <button class="form-control SubmitBTN"  (click)="Update()">Edit</button>
                    </div>
                </div> -->
            </div><br>
        </div>
        <div class="col-lg-1"></div>
    </div>

</div>


