<app-spinner *ngIf="loader"></app-spinner>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-12">
                    <p class="Heading">JOINED CANDIDATES DASHBOARD</p>
                    <hr class="HrLine">
                </div>
            </div> <br>

            <div class="card"><br>
                <div class="row FilterClass">
                    <div class="col-lg-1">
                        Filter By
                    </div>
                    <div class="col-lg-5 ">
                        <input class="form-control" placeholder="Search for Job Title or Candidate Name.." [(ngModel)]="search">
                    </div>
                    <!-- <div class="col-lg-3">
                        <select name="Select" class="form-control">
                            <option value="Select Notice Period FilterClass">Select Notice Period</option>
                            <option value="15 Days">15 Days</option>
                            <option value="30 Days">30 Days</option>
                            <option value="45 Days">45 Days</option>
                            <option value="90 Days">90 Days</option>
                        </select>
                    </div> -->
                    <div class="col-lg-4"></div>
                    <div class="col-lg-2">
                        <p class="Count">Count:{{count}}</p>
                    </div>
                </div> <br>
            </div><br>

            <div class="row">
                <div class="col-lg-12">
                    <table class="table tablebordered">
                        <thead>
                            <tr class="head">
                                <!-- <th>Vendor</th> -->
                                <th>Job Reference ID</th>
                                <th>Source</th>
                                <th>Hiring Manager</th>
                                <th>Job Title</th>
                                <th>Candidate Name</th>
                                <th>Joined Date</th>
                                <th>Phone No</th>
                                <th>Email</th>
                                <th>Total Years of Experience</th>
                                <th>Relevant Experience</th>
                                <th>Offer Letter</th>
                                <th>Offer Comments</th>
                            </tr>
                            <tr *ngFor="let job of joblist|filter:search">
                                <td>{{job.jobRefernceID}}</td>  
                                <td>{{job.source}}</td>                             
                                <!-- <td>{{job.slotTime}}</td> --> 
                                <td>{{job.hiringManager}}</td>
                                <td>{{job.jobTitle}}</td>
                                <td>{{job.candidateName}}</td>
                                <td>{{job.date}}
                                <td>{{job.phoneNo}}</td>
                                <td>{{job.email}}</td>
                                <td>{{job.yearsofExp}}</td>
                                <td>{{job.relavantExp}}</td>
                                <td>
                                    <img src="assets/Images/pdf.png" style="width: 30px;" (click)="GetOfferLetter(job.offerLetter)">
                                </td>                             
                                <td>
                                   {{job.offerComments}}
                                </td>                              
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>