<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-12">
                    <p class="Heading">JOINED CANDIDATES DASHBOARD</p>
                    <hr class="HrLine">
                </div>
            </div> <br>

            <div class="card"><br>
                <div class="row FilterClass">
                    <div class="col-lg-1">
                        Filter By
                    </div>
                    <div class="col-lg-3 ">
                        <input class="form-control" placeholder="Search">
                    </div>
                    <div class="col-lg-3">
                        <select name="Select" class="form-control">
                            <option value="Select Notice Period FilterClass">Select Notice Period</option>
                            <option value="15 Days">15 Days</option>
                            <option value="30 Days">30 Days</option>
                            <option value="45 Days">45 Days</option>
                            <option value="90 Days">90 Days</option>
                        </select>
                    </div>
                    <div class="col-lg-3"></div>
                    <div class="col-lg-2">
                        <p class="count">Count : 10</p>
                    </div>
                </div> <br>
            </div><br>

            <div class="row">
                <div class="col-lg-12">
                    <table class="table tablebordered">
                        <thead>
                            <tr class="head">
                                <th>Vendor</th>
                                <th>Job Reference ID</th>
                                <th>Hiring Manager</th>
                                <th>Job Title</th>
                                <th>Candidate Name</th>
                                <th>Joined Date</th>
                                <th>Phone No</th>
                                <th>Email</th>
                                <th>Total Years of Experience</th>
                                <th>Relevant Experience</th>
                                <th>Offer Letter</th>
                                <th>Offer Comments</th>

                            </tr>
                            <tr>
                                <td>Amaze</td>
                                <td>4480</td>
                                <td>Amulya Bijur</td>
                                <td>Software Test Engineer</td>
                                <td>soniya</td>
                                <td>12/08/2021</td>
                                <td>7990167890</td>
                                <td>soniya@gmail.com</td>
                                <td>5</td>
                                <td>4</td>
                                <td></td>
                                <td>Null</td>

                            </tr>
                            <tr>
                                <td>Amaze</td>
                                <td>25984</td>
                                <td>Amulya Bijur</td>
                                <td>Software Test Engineer</td>
                                <td>jesica</td>
                                <td>22/05/2021</td>
                                <td>7990167890</td>
                                <td>jesica@gmail.com</td>
                                <td>5</td>
                                <td>4</td>
                                <td></td>
                                <td>Null</td>
                            </tr>
                            <tr>
                                <td>Amaze</td>
                                <td>25984</td>
                                <td>Amulya Bijur</td>
                                <td>Full Stack Developer</td>
                                <td>Bhargav Reddy </td>
                                <td>10/07/2020</td>
                                <td>7990167890</td>
                                <td>bargav@gmail.com</td>
                                <td>5</td>
                                <td>4</td>
                                <td></td>
                                <td>Null</td>
                            </tr>
                            <tr>
                                <td>Amaze</td>
                                <td>25984</td>
                                <td>Amulya Bijur</td>
                                <td>Testing job</td>
                                <td>Anjali</td>
                                <td>12/12/2020</td>
                                <td>7907969903</td>
                                <td>anjali@amazeinc.in</td>
                                <td>2</td>
                                <td>2</td>
                                <td></td>
                                <td>Null</td>
                            </tr>
                            <tr>
                                <td>Amaze</td>
                                <td>25984</td>
                                <td>Amulya Bijur</td>
                                <td>Full stack Developer</td>
                                <td>srikanth reddy</td>
                                <td>25/02/2020</td>
                                <td>9441593887</td>
                                <td>srikanth@gmail.com</td>
                                <td>2 years</td>
                                <td>2.3 yrs</td>
                                <td></td>
                                <td>Null</td>
                            </tr>

                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>