<br>
<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-11">
                <a href="" class="Heading" style="color: #3247D5; font-family: 'Poppins';">Client Details</a>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <br>
                        <form [formGroup]="RegForm" style="margin-left: 30px; margin-right: 30px;">
                            <div class="row leavereq">
                                <div class="col-md-3">
                                    <label>Client Logo<span style="color: red;">*</span></label>
                                </div>
                                <div class="col-md-3">
                                    <label>Client Name<span style="color: red;">*</span></label>
                                </div>
                                <div class="col-md-3">
                                    <label>Email <span style="color: red;">*</span></label>
                                </div>
                                <div class="col-md-2">
                                    <label>Phone No.<span style="color: red;">*</span></label>
                                </div>
                            </div>
                            <div class="row leavereq">
                                <div class="col-md-3">
                                    <ngx-dropzone (change)="onSelect($event)" style="height: 60px;">
                                        <ngx-dropzone-label>Drop it here!</ngx-dropzone-label>
                                        <ngx-dropzone-preview *ngFor="let f of files" [removable]="true"
                                            (removed)="onRemove(f)">
                                            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                                        </ngx-dropzone-preview>
                                    </ngx-dropzone>
                                </div>
                                <!-- <div class="col-md-2">
                                    <input type="text" class="form-control inputfield" [(ngModel)]="Role">
                                </div> -->
                                <!-- <div class="col-md-2">
                                    <div class="dropdown">
                                        <select class="form-control" name="Role" Id="Role" [(ngModel)]="Role">
                                            <option value="">Select </option>
                                            <option *ngFor="let Client of ClientList" value={{Client.id}}>{{Client.short}} </option>
                                        </select>
                                    </div>
                                </div>  -->
                                <div class="col-md-3">
                                    <input type="text" class="form-control inputfield" [(ngModel)]="Name" name="Name"
                                        formControlName="Name">
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control inputfield" [(ngModel)]="Email" name="Email"
                                        formControlName="Email">
                                </div>
                                <div class="col-md-2">
                                    <input type="text" class="form-control inputfield" [(ngModel)]="PhoneNo"
                                        name="PhoneNo" formControlName="PhoneNo">
                                </div>

                                <!-- <div class="col-md-3">
                                    <input type="text" class="form-control inputfield" [(ngModel)]="Address"
                                        name="Address" formControlName="Address">
                                </div> -->
                                <!-- <div class="col-md-2">
                                    <input type="text" class="form-control inputfield" [(ngModel)]="Signature">
                                </div> -->
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-3">
                                    <label>Address<span style="color: red;">*</span></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <textarea type="text" class="form-control inputfield" [(ngModel)]="Address" rows="4"
                                        name="Address" formControlName="Address"></textarea>
                                </div>
                            </div>

                            <br>
                            <div class="row">
                                <div class="col-lg-10"></div>
                                <div class="col-lg-1">
                                    <!-- <button class="form-control CancelBTN" (click)="cancel()">Cancel</button> -->
                                    <button class="form-control Edit" (click)="cancel()">Cancel</button>
                                </div>
                                <div class="col-lg-1">
                                    <!-- <button type="button" class="form-control SubmitBTN" *ngIf="showButton==2"
                                        [disabled]="!RegForm.valid" (click)="Save()">Save</button>
                                    <button type="button" class="form-control SubmitBTN" *ngIf="showButton==1"
                                        (click)="Update()">Update</button> -->
                                    <button type="button" class="form-control Edit" *ngIf="showButton==2"
                                        [disabled]="!RegForm.valid" (click)="Save()">Save</button>
                                    <button type="button" class="form-control Edit" *ngIf="showButton==1"
                                        (click)="Update()">Update</button>
                                </div>
                            </div>
                        </form>
                

                </div>
            </div>
        </div><br>
    </div>
</div>