<br>
<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-11">
                <a href="" class="Heading" style="color: #3247D5; font-family: 'Poppins';">Recruiter Details</a>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <br>
                    <div class="row">
                        <form style="margin-left: 30px; margin-right: 30px;">
                            <div class="row leavereq">
                                <div class="col-md-3">
                                    <label>Role<span style="color: red;">*</span></label>
                                </div>
                                <div class="col-md-2">
                                    <label>Name<span style="color: red;">*</span></label>
                                </div>
                                <div class="col-md-2">
                                    <label>Phone No.<span style="color: red;">*</span></label>
                                </div>
                                <div class="col-md-2">
                                    <label>Email <span style="color: red;">*</span></label>
                                </div>
                                <div class="col-md-3">
                                    <label>Address<span style="color: red;">*</span></label>
                                </div>
                            </div>
                            <div class="row leavereq">
                                <div class="col-md-3">
                                    <div class="dropdown">
                                        <select class="form-control" name="roleid" id="roleid" [(ngModel)]="roleid">
                                            <option value="">Select </option>
                                            <option *ngFor="let User of roleList" value={{User.id}}>{{User.short}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <!-- <div class="col-md-2">
                                            <div class="dropdown">
                                                <select class="form-control" name="RecruiterID" id="RecruiterID" [(ngModel)]="RecruiterID">
                                                    <option value="">Select </option>
                                                    <option *ngFor="let User of recruiterlist" value={{User.id}}>{{User.name}} </option>
                                                </select>
                                            </div>
                                        </div> -->
                                <div class="col-md-2">
                                    <input type="text" class="form-control inputfield" name="Name" id="Name"
                                        [(ngModel)]="Name">
                                </div>
                                <div class="col-md-2">
                                    <input type="text" class="form-control inputfield" name="PhoneNo    " id="PhoneNo"
                                        [(ngModel)]="PhoneNo">
                                </div>
                                <div class="col-md-2">
                                    <input type="text" class="form-control inputfield" name="Email" id="Email"
                                        [(ngModel)]="Email">
                                </div>
                                <div class="col-md-3">
                                    <textarea type="text" class="form-control inputfield" name="Address" id="Address"
                                        [(ngModel)]="Address"></textarea>
                                </div>
                            </div>
                            <br>
                            <div class="row leavereq">
                                <div class="col-md-3">
                                    <label>Signature</label>
                                </div>
                            </div>
                            <div class="row leavereq">
                                <div class="col-lg-3">
                                    <ngx-dropzone (change)="onSelect($event)" style="height: 60px;">
                                        <ngx-dropzone-label>Drop it here!</ngx-dropzone-label>
                                        <ngx-dropzone-preview *ngFor="let f of files" [removable]="true"
                                            (removed)="onRemove(f)">
                                            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                                        </ngx-dropzone-preview>
                                    </ngx-dropzone>
                                </div>
                                <div class="col-lg-7"></div>
                                <div class="col-lg-1">
                                    <button class="form-control Edit" (click)="cancel()">Cancel</button>
                                </div>
                                <div class="col-lg-1">
                                    <button class="form-control Edit" *ngIf="ID==undefined && ID==null"
                                        (click)="insertdetails()">Submit</button>
                                    <button class="form-control Edit" *ngIf="ID!=undefined  && ID!=null"
                                        (click)="Update()">Update</button>
                                </div>
                            </div>
                            <!-- <br>
                            <div class="row">
                                <div class="col-lg-10"></div>
                                <div class="col-lg-1">
                                    <button class="form-control Edit" (click)="cancel()">Cancel</button>
                                </div>
                                <div class="col-lg-1">
                                    <button class="form-control Edit" *ngIf="ID==undefined && ID==null"
                                        (click)="insertdetails()">Submit</button>
                                    <button class="form-control Edit" *ngIf="ID!=undefined  && ID!=null"
                                        (click)="Update()">Update</button>
                                </div>
                            </div> -->
                        </form>
                    </div>
                    <br>
                </div>
            </div>
        </div>



        <!-- <div class="row">
                <div class="row leavereq">
                    <div class="col-md-2">
                        <label>Role<span style="color: red;">*</span></label>
                    </div>
                    <div class="col-md-2">
                        <label>Name<span style="color: red;">*</span></label>
                    </div>
                    <div class="col-md-2">
                        <label>Phone No.<span style="color: red;">*</span></label>
                    </div>
                    <div class="col-md-2">
                        <label>Email <span style="color: red;">*</span></label>
                    </div>
                    <div class="col-md-3">
                        <label>Address<span style="color: red;">*</span></label>
                    </div>

                </div>
                <div class="row leavereq">
                    <div class="col-md-2">
                        <div class="dropdown">
                            <select class="form-control" name="roleid" id="roleid" [(ngModel)]="roleid">
                                <option value="">Select </option>
                                <option *ngFor="let User of roleList" value={{User.id}}>{{User.short}} </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control inputfield" name="Name" id="Name" [(ngModel)]="Name">
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control inputfield" name="Name" id="Name" [(ngModel)]="PhoneNo">
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control inputfield" name="PhoneNo" id="PhoneNo"
                            [(ngModel)]="Email">
                    </div>

                    <div class="col-md-3">
                        <textarea type="text" class="form-control inputfield" name="Address" id="Address"
                            [(ngModel)]="Address"></textarea>
                    </div>
                </div>
                <br>
                <div class="row leavereq">
                    <div class="col-md-2">
                        <label>Signature</label>
                    </div>
                </div>
                <div class="row leavereq">
                    <div class="col-md-2">
                        <ngx-dropzone (change)="onSelect($event)" style="height: 60px;">
                            <ngx-dropzone-label>Drop it here!</ngx-dropzone-label>
                            <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                            </ngx-dropzone-preview>
                        </ngx-dropzone>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-10"></div>
                    <div class="col-lg-1">
                        <button class="form-control CancelBTN" (click)="cancel()">Cancel</button>
                    </div>
                    <div class="col-lg-1">
                        <button class="form-control SubmitBTN" *ngIf="ID==undefined && ID==null"
                            (click)="insertdetails()">Submit</button>
                        <button class="form-control SubmitBTN" *ngIf="ID!=undefined  && ID!=null"
                            (click)="Update()">Update</button>


                    </div>
                </div>
            </div> -->
    </div>
</div>