<div class="container-fluid ">

    <div style="width: 1600px;

    margin-left: -318px;

" class="container-fluid Pages_background Mobilecss">
        <br>
        <div class="row card maincard" style="width: 1600px;">
            <div class="col-lg-12">
                <img src="assets/Login/logo.jpg" style="height: 93px;
                        width: 101px;margin-left: 50px;">
                <h4 style="font-size: 40px; margin-top: -60px; margin-left: 600px;">Apply For Job</h4>
            </div><hr>
            <div class="row">
                <!-- <div class="col-lg-5 newtext">
                <p style="font-size: 20px;">Job Vacancies</p>
            </div> -->
            </div>

            <div class="row" *ngFor="let job of joblist">
                <div class="col-lg-2"></div>
                <div class="col-lg-2">

                    <p style="color:#3247D5;font-size:17px;margin-left: 30px;">{{job.jobTitle}} (Amaze One)
                        <!-- ({{job.companyName}}) -->
                    </p>
                </div>

                <div class="col-lg-6">
                    <span class=""><b>Skillsets :<br> </b> {{job.skills}}</span>
                </div>
                
               
                <div class="col-lg-3">
                    <span style="margin-left:15px;" class=""><b>Job Location: </b>{{job.joblocation}}</span><br>
                </div><br><br>
                <div class="col-lg-3">
                    <span style="color: green;"> JOB ID : <b>{{job.jobRefernceID}}</b></span>
                </div><br>

          
                <!-- <div class="col-lg-6">
                    <span class="spanclass"><b>Jod Description : </b>{{job.jobDescription}}</span><br><br>

                </div><br><br> -->


                <div class="col-lg-3">
                    <span style="color: green;">Required year of Experience : {{job.relaventExp}}</span>
                </div><br>
                <div class="col-lg-3">
                    <span style="color: green;">Job Location : {{job.joblocation}}</span>
                </div><br>
                <div class="col-lg-2"></div>
                <div class="col-lg-2">

                    <p style="margin-left: 30px;color: green;">Other Required Conditions : {{job.otherRequiredConditions}}
                        <!-- ({{job.companyName}}) -->
                    </p>
                </div>

                <div class="col-lg-6">
                    <span class=""><b>Job Description : <br></b> {{job.jobDescription}}</span>
                </div>
                
                <!-- <div class="col-lg-3">
                        <button class="button" data-toggle="modal" data-target="#exampleModal1" class="btn btn-primary"
                            (click)="GetJobID(job.id)">Upload</button>&nbsp;
                    </div> -->


            </div><br>


            <hr>

            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-3">
                        <label>Candidate Name : </label>
                    </div>
                    <div class="col-lg-5">
                        <input type="text" class="form-control" placeholder="Candidate Name" [(ngModel)]="candidatename"
                            name="candidatename">
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-3">
                        <label>Phone No : </label>
                    </div>
                    <div class="col-lg-5">
                        <input type="text" class="form-control" placeholder="Phone No" [(ngModel)]="phoneno"
                            name="phoneno">
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-3">
                        <label>Email : </label>
                    </div>
                    <div class="col-lg-5">
                        <input type="text" class="form-control" placeholder="Email" [(ngModel)]="email" name="email">
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-3">
                        <label>Total Years of Experience : </label>
                    </div>
                    <div class="col-lg-5">
                        <input type="text" class="form-control" placeholder="Total Years of Experience"
                            [(ngModel)]="yearsofexp" name="yearsofexp">
                    </div>

                </div><br>
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-3">
                        <label>Relavent Experience : </label>
                    </div>
                    <div class="col-lg-5">
                        <input type="text" class="form-control" placeholder="Relavent Experience"
                            [(ngModel)]="relaventexp" name="relaventexp">
                    </div>

                </div><br>
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-3">
                        <label>Current City : </label>
                    </div>
                    <div class="col-lg-5">
                        <input type="text" class="form-control" placeholder="Current City" [(ngModel)]="city"
                            name="city">
                    </div>

                </div><br>

                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-3">
                        <label>Are you Willing To Relocate : </label>
                    </div>
                    <div class="col-lg-5">
                        <input type="radio" value="1" [(ngModel)]="relocate" name="relocate">&nbsp;Yes
                        <input type="radio" value="0" [(ngModel)]="relocate" name="relocate">&nbsp;No
                    </div>

                </div><br>
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-3">
                        <label>Current Company : </label>
                    </div>
                    <div class="col-lg-5">
                        <input type="text" class="form-control" placeholder="Current Company"
                            [(ngModel)]="currentcompany" name="currentcompany">
                    </div>

                </div><br>
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-3">
                        <label>Notice Period : </label>
                    </div>
                    <div class="col-lg-5">
                        <input type="text" class="form-control" placeholder="Notice Period" [(ngModel)]="noticeperiod"
                            name="noticeperiod">
                    </div>

                </div><br>
                <!-- <div class="row">
                        <div class="col-lg-3">
                            <label>Current CTC : </label>
                        </div>
                        <div class="col-lg-5">
                            <input type="text" class="form-control" placeholder="Current CTC" [(ngModel)]="ctc"
                                name="ctc">
                        </div>

                    </div><br>
                    <div class="row">
                        <div class="col-lg-3">
                            <label>Expected CTC : </label>
                        </div>
                        <div class="col-lg-5">
                            <input type="text" class="form-control" placeholder="Expected CTC" [(ngModel)]="Expectedctc"
                                name="Expectedctc">
                        </div>

                    </div><br> -->

                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-3">
                        <label>Are you Currently Serving Notice Period : </label>
                    </div>
                    <div class="col-lg-5">
                        <input type="radio" value="1" [(ngModel)]="servingnotice" name="servingnotice">&nbsp;Yes
                        <input type="radio" value="0" [(ngModel)]="servingnotice" name="servingnotice">&nbsp;No
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-3">
                        <label>Resume : </label>
                    </div>
                    <div class="col-lg-5">
                        <ngx-dropzone (change)="onSelect($event)" style="height: 60px;">
                            <ngx-dropzone-label>Drop it here!</ngx-dropzone-label>
                            <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                            </ngx-dropzone-preview>
                        </ngx-dropzone>
                    </div><br>
                </div><br><br>
                <div class="row">
                    <div class="col-lg-6"></div>
                    <div class="col-lg-2">
                        <button type="button" class="Addbutton" style="background-color:#3247D5;"
                            (click)="insertdetails()" data-dismiss="modal">Apply</button>
                    </div>
                    <div class="col-lg-5"></div>
                </div><br>

            </div>
        </div>
    </div>
    <br>

</div>