<br>
<div class="container-fluid">
  <div class="card">
      <div class="row">
          <div class="col-lg-12">
              <p class="Job">JOINED CANDIDATES DASHBOARD</p>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-3">
              <input class="form-control" placeholder="Search">
          </div>
          <div class="col-lg-3">
            <select name="Select CTC"  class="form-control">
                <option value="Select Vendor">Select Vendor</option>
                <option value="Amaze">Amaze</option>
              </select>
          </div>
        <div class="col-lg-1">
            <p>Count : 10</p>
        </div>
      </div> <br>
      <div class="row">
        <div class="col-lg-12">
            <table class="table ">
                <thead>
                    <tr class="newFont">
                        <th>Vendor</th>
                        <th>Job Reference ID</th>
                        <th>Hiring Manager</th>
                        <th>Job Title</th>
                        <th>Candidate Name</th>
                        <th>Phone No</th>
                        <th>Email	</th>
                        <th>Total Years of Experience</th>
                        <th>Relevant Experience</th>
                        <th>Offer Letter</th>
                        <th> Comments</th> 
                    </tr>
                    <tr class="Textdata">
                        <td>Amaze</td>
                        <td>4480</td>                                   
                        <td></td>
                        <td>Full Stack Developer</td>
                        <td>srikanth reddy</td>
                        <td>9441593887</td>
                        <td>srikanth@gmail.com</td>
                        <td>	2 years</td>
                        <td>2.3 yrs</td>
                        <td></td>
                        <td>Null</td>
                      </tr>
                      <tr class="Textdata">
                        <td>Amaze</td>
                        <td>25984</td>                                   
                        <td></td>
                        <td>Full Stack Developer</td>
                        <td>Bhargav</td>
                        <td>84994040040</td>
                        <td>bhargav@gmail.com</td>
                        <td>3 years</td>
                        <td>3.5 yrs</td>
                        <td></td>
                        <td>Null</td>
                      </tr> 
                      <tr class="Textdata">
                        <td>Amaze</td>
                        <td>4480</td>                                   
                        <td></td>
                        <td>Full Stack Developer</td>
                        <td>Maheshy</td>
                        <td>9441593887</td>
                        <td>Mahesh@gmail.com</td>
                        <td>	2 years</td>
                        <td>2.3 yrs</td>
                        <td></td>
                        <td>Null</td>
                      </tr> 
                      <tr class="Textdata">
                        <td>Amaze</td>
                        <td>4480</td>                                   
                        <td></td>
                        <td>Developer</td>
                        <td>Dileep</td>
                        <td>9441593887</td>
                        <td>Delip@gmail.com</td>
                        <td>2 years</td>
                        <td>2.3 yrs</td>
                        <td></td>
                        <td>Null</td>
                      </tr> 
                      <tr class="Textdata">
                        <td>Amaze</td>
                        <td>4480</td>                                   
                        <td></td>
                        <td>Full Stack Developer</td>
                        <td>srikanth reddy</td>
                        <td>9441593887</td>
                        <td>srikanth@gmail.com</td>
                        <td>	2 years</td>
                        <td>2.3 yrs</td>
                        <td></td>
                        <td>Null</td>
                      </tr> 
                      <tr class="Textdata">
                        <td>Amaze</td>
                        <td>4480</td>                                   
                        <td></td>
                        <td>Full Stack Developer</td>
                        <td>srikanth reddy</td>
                        <td>9441593887</td>
                        <td>srikanth@gmail.com</td>
                        <td>	2 years</td>
                        <td>2.3 yrs</td>
                        <td></td>
                        <td>Null</td>
                      </tr>  
                </thead>
            </table>
        </div>
    </div>
  </div>
</div>




