<app-spinner *ngIf="loader"></app-spinner>
<div class="container-fluid">
    <br>
    <div class="row">
        <div class="col-lg-12">
            <p class="Heading">DROPPED CANDIDATES DASHBOARD</p>

        </div>
    </div> <br>

    <div class="card">
        <div class="row FilterClass">
            <div class="col-lg-1">
                <p>Filter By</p>
            </div>
            <div class="col-lg-3 ">
                <input class="form-control poppinns" placeholder="Search" [(ngModel)]="search">
            </div>
            <div class="col-lg-2">
                <select name="Select" class="form-control poppinns">
                    <option value="Select Vendor ">Select Vendor</option>
                    <option value="Amaze">Amaze</option>
                </select>
            </div>
            <div class="col-lg-4"></div>
            <div class="col-lg-2">
                <p class="Count">Count:{{count}}</p>
            </div>
        </div> 
    </div><br><br>

    <div class="row">
        <div class="col-lg-12" style="height: 470px; overflow-y: scroll;">
            <table class="table tablebordered" *ngIf="(joblist | filter: search).length > 0; else noResults">
                <thead>
                    <tr>
                        <th>Vendor</th>
                        <th>Job Reference ID</th>
                        <th>Hiring Manager</th>
                        <th>Offered Date</th>
                        <th>Source</th>
                        <!-- <th>Job Title</th> -->
                        <th>Candidate Name</th>
                        <th>Phone No</th>
                        <th>Email</th>
                        <!-- <th>Tentitive Date</th> -->
                        <!-- <th>Dropped Date</th> -->
                        <th>Total Years of Experience</th>
                        <th>Relevant Experience</th>
                        <th>Offer Letter</th>
                        <th>Comments</th>
                        <!-- <th>Dropped Notes</th> -->
                    </tr>
                    <tr *ngFor="let job of joblist|filter:search">
                        <td>{{job.vendorName}}</td>
                        <td>{{job.jobRefernceID}}</td>
                        <td>{{job.hiringManager}}</td>
                        <td>{{job.date}}</td>
                        <td>{{job.source}}</td>
                        <td>{{job.candidateName}}</td>
                        <td>{{job.phoneNo}}</td>
                        <td>{{job.email}}</td>
                        <td>{{job.yearsofExp}}</td>
                        <td>{{job.relavantExp}}</td>
                        <td>
                            <img src="assets/Images/pdf.png" style="width: 30px;"
                                (click)="GetOfferLetter(job.offerLetter)">
                        </td>
                        <!-- <td>
                                    <span *ngIf="job.offerAcceptreject=='1'">Joined</span>
                                    <span *ngIf="job.offerAcceptreject=='2'">Dropped</span>
                                </td> -->
                        <td style="color:#0C275A">
                            {{job.offerComments}}
                        </td>
                        <!-- <td>
                                    <button class="btn btn-primary" *ngIf="job.offerAcceptreject=='0'"
                                        (click)="Accept(job.id,job.offerComments)">Joined</button><br><br>
                                    <button class="btn btn-danger" *ngIf="job.offerAcceptreject=='0'"
                                        (click)="Reject(job.id,job.offerComments)">Dropped</button>
        
                                </td> -->
                    </tr>
                </thead>
            </table>
            <ng-template #noResults>
                <p>no results found for "{{search}}" </p>
            </ng-template>
        </div>
    </div>

</div>