<app-spinner *ngIf="loader"></app-spinner>
<div class="container-fluid">
 <br>
            <div class="row">
                <div class="col-lg-12">
                    <p class="Heading">OFFERED CANDIDATES DASHBOARD</p>
              
                </div>
            </div> <br>

            <div class="card">
                <div class="row FilterClass">
                    <div class="col-lg-1">
                        <p>Filter By</p>
                    </div>
                    <div class="col-lg-2">
                        <input type="date" style="color:#0C275A;" class="form-control poppinns"    (change)="changeAnniversary()" name="Date" value="Date"  [(ngModel)]="Date">
                    </div>
                    <div class="col-lg-5">
                        <input class="form-control poppinns" placeholder="Search"  [(ngModel)]="search" (ngModelChange)="Filterjobs()" >
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-2">
                        <p class="Count">Count:{{count}}</p>
                    </div>
                </div> 
            </div><br> <br>

            <div class="row">
                <div class="col-lg-12" style=" overflow:auto">
                    <table class="table tablebordered" >
                        <thead>
                            <tr>
                                <!-- <th>Vendor</th> -->
                                <th>Job Reference ID</th>
                                <th *ngIf="roleid=='4'">Source</th>
                                <th *ngIf="roleid!='2'">Hiring Manager</th>
                                <th>Job Title</th>
                                <th>Tentative DOJ</th>
                                <!-- <th>Offered Date </th> -->
                                <th>Candidate Name</th>
                                <th>Phone No</th>
                                <th>Email</th>
                                <th>Total Years of Experience</th>
                                <th>Relevant Experience</th>
                                <th>Offer Letter</th>
                                <!-- <th>Offer Comments</th> -->
                                <th  *ngIf="roleid=='4' && roleid!='6'">Actions</th>
                            </tr>
                            <tr>
                                <tr *ngFor="let job of joblist|paginate: { itemsPerPage: count1, currentPage: p }">
                                    <td>{{job.jobRefernceID}}</td>
                                    <td *ngIf="roleid=='4'">{{job.source}}</td>
                                    <!-- <td>{{job.date}}</td>
                                    <td>{{job.slotTime}}</td> -->
                                    <td *ngIf="roleid!='2'">{{job.hiringManager}}</td>
                                    <td>{{job.jobTitle}}</td>
                                    <td>{{job.tentativeDate|date}}</td>
                                    <td>{{job.candidateName}}</td>
                                    <td>{{job.phoneNo}}</td>
                                    <td>{{job.email}}</td>
                                    <td>{{job.yearsofExp}}</td>
                                    <td>{{job.relavantExp}}</td>
                                    <td>
                                        <img src="assets/Images/pdf.png" style="width: 30px;" (click)="GetOfferLetter(job.offerLetter)">
                                        <!-- <input type="file" id="test" name="test" accept=".pdf" (click)="GetOfferLetter(job.offerLetter)"> -->
                                    </td>
                                    <!-- <td>
                                        <span *ngIf="job.offerAcceptreject=='1'">Joined</span>
                                        <span *ngIf="job.offerAcceptreject=='2'">Dropped</span>
                                    </td> -->
                                    <!-- <td>
                                        <textarea class="form-control" row="4" [(ngModel)]="job.offerComments" name="job.offerComments" placeholder="Comments"></textarea>
                                    </td> -->
                                    <td  *ngIf="roleid=='4' && roleid!='6'">
                                        <button class="btn btn-primary Joined" *ngIf="job.offerAcceptreject=='0'"
                                            (click)="Accept(job.id,job.offerComments)">Joined</button><br><br>
                                        <button class="btn btn-danger" *ngIf="job.offerAcceptreject=='0'"
                                            (click)="Reject(job.id,job.offerComments)">Dropped</button>   
                                    </td>
                                </tr>                       
                        </thead>
                    </table>
                    <ng-template #noResults>
                        <p>no results found for "{{search}}" </p> 
                      </ng-template>
                </div>
                <div class="text-right">
                    <br>
                    <pagination-controls (pageChange)="p = $event" class="poppinns"></pagination-controls>
                </div> 
                <span *ngIf="joblist.length==0">No data found.</span>
            </div>
     
</div>