<app-spinner *ngIf="loader"></app-spinner>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-12">
                    <p class="Heading">OFFERED CANDIDATES DASHBOARD</p>
                    <hr class="HrLine">
                </div>
            </div> <br>

            <div class="card"><br>
                <div class="row FilterClass">
                    <div class="col-lg-1">
                        Filter By
                    </div>
                    <div class="col-lg-3">
                        <input class="form-control" placeholder="Search"  [(ngModel)]="search">
                        <!-- <select name="Select" class="form-control">
                            <option value="Select Notice Period">Select Notice Period</option>
                            <option value="15 Days">15 Days</option>
                            <option value="30 Days">30 Days</option>
                            <option value="45 Days">45 Days</option>
                            <option value="90 Days">90 Days</option>
                        </select> -->
                    </div>
                    <div class="col-lg-6"></div>
                    <div class="col-lg-2">
                        <p class="count">Count:{{count}}</p>
                    </div>
                </div> <br>
            </div><br>

            <div class="row">
                <div class="col-lg-12">
                    <table class="table tablebordered">
                        <thead>
                            <tr class="head">
                                <!-- <th>Vendor</th> -->
                                <th>Job Reference ID</th>
                                <th>Source</th>
                                <th>Hiring Manager</th>
                                <th>Job Title</th>
                                <th>Tentative Date</th>
                                <!-- <th>Offered Date </th> -->
                                <th>Candidate Name</th>
                                <th>Phone No</th>
                                <th>Email</th>
                                <th>Total Years of Experience</th>
                                <th>Relevant Experience</th>
                                <th>Offer Letter</th>
                                <!-- <th>Offer Comments</th> -->
                                <th  *ngIf="roleid=='4' && roleid!='6'">Actions</th>
                            </tr>
                            <tr>
                                <tr *ngFor="let job of joblist|filter:search">
                                    <td>{{job.jobRefernceID}}</td>
                                    <td>{{job.source}}</td>
                                    <!-- <td>{{job.date}}</td>
                                    <td>{{job.slotTime}}</td> -->
                                    <td>{{job.hiringManager}}</td>
                                    <td>{{job.jobTitle}}</td>
                                    <td>{{job.tentativeDate|date}}</td>
                                    <td>{{job.candidateName}}</td>
                                    <td>{{job.phoneNo}}</td>
                                    <td>{{job.email}}</td>
                                    <td>{{job.yearsofExp}}</td>
                                    <td>{{job.relavantExp}}</td>
                                    <td>
                                        <img src="assets/Images/pdf.png" style="width: 30px;" (click)="GetOfferLetter(job.offerLetter)">
                                        <!-- <input type="file" id="test" name="test" accept=".pdf" (click)="GetOfferLetter(job.offerLetter)"> -->
                                    </td>
                                    <!-- <td>
                                        <span *ngIf="job.offerAcceptreject=='1'">Joined</span>
                                        <span *ngIf="job.offerAcceptreject=='2'">Dropped</span>
                                    </td> -->
                                    <!-- <td>
                                        <textarea class="form-control" row="4" [(ngModel)]="job.offerComments" name="job.offerComments" placeholder="Comments"></textarea>
                                    </td> -->
                                    <td  *ngIf="roleid=='4' && roleid!='6'">
                                        <button class="btn btn-primary" *ngIf="job.offerAcceptreject=='0'"
                                            (click)="Accept(job.id,job.offerComments)">Joined</button><br><br>
                                        <button class="btn btn-danger" *ngIf="job.offerAcceptreject=='0'"
                                            (click)="Reject(job.id,job.offerComments)">Dropped</button>
            
                                    </td>
                                </tr>
                        
                                             
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>