.Job {
  color: gray;
  padding-left: 10px;
  font-size: 18px;
  padding-top: 20px;
  font-weight: 400;
}

.search {
  margin-left: 10px;
}

.newFont {

  color: black;
  width: 100%;
  vertical-align: middle;
}

/* .th{
  background-color: #e4e5e6;
  color:#404040;
  font-family: "DIN Bold";
} */
/* .table, th, td {
border: 1px solid lightgray;
 border-collapse: collapse; 
} */
.Heading {
  padding-left: 5px;
  font-size: 20px;
  color: #3247D5;
}

.FilterClass {
  padding-left: 15px;
  font-size: 15px;
  color: #0C275A;
}

.Count {

  font-size: 20px !important;

  font-weight: bold;
  float: right;
  padding-right: 10px;
  ;
}

.button {
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: #3247d5;
  border: none;
  width: 100%;
}

.Joined {
  padding-left: 20px;
  border-radius: 5px;
  padding-right: 20px;
  border: none;
  color: white;
  background-color: #3247d5;
}

.Dropped {
  padding: 5px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: red;
}

.card {
  width: 100%;
  background: #FFFFFF;
  box-shadow: 1px 1px 15px 3px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
}


.event_Pending {
  color: #4282be;
  background: linear-gradient(110deg, #fdcd3b 60%, #4282be 60%);
  border-radius: 5px;
  border-bottom: solid 6px white;
  background: white;
  /* background: linear-gradient(to bottom left, #33ccff 0%, #ffffcc 100%); */
}

.event_Rejected {
  color: #333;
  background: linear-gradient(110deg, #fd413b 60%, #fd413b 60%);
  border-radius: 5px;
  /* background: linear-gradient(to bottom left, #33ccff 0%, #ffffcc 100%); */
}

.event_Approved {
  color: #333;
  background: linear-gradient(110deg, #63d82c 60%, #56ff4b 60%);
  border-radius: 5px;
  /* background: linear-gradient(to bottom left, #33ccff 0%, #ffffcc 100%); */
}

.callenderdiv {
  width: 100%;
  margin-left: 1px;
}

.callenderboxes {
  width: 100%;
  height: 170px;
  background: white;
  border: 1px solid #3247D5;
}

.callenderboxes:hover {
  /* background: greenyellow; */
  border: 1px solid #00addf;
}

.todayDate {
  /* background-color: #71c6c1; */
  background: linear-gradient(110deg, #fdcd3b 60%, #3247D5 60%);
  width: 100%;
  height: 500px;
  text-align: center;
}

.datenumber {
  color: white;
  margin-top: 38%;
  font-size: 100px;
}

.dateday {
  color: white;
  font-size: -webkit-xxx-large;
}

.callendernavButtons {
  text-align: center;
  font-size: xx-large;
  margin-bottom: 2%;
}

.callendernavButtons a {
  color: white;
}



.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2F87CC;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2F87CC;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

td{
width: 20%;
}
th{
  width: 10%;
}

/* Rounded sliders */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.modal-title {
  margin: 0;
  line-height: 1.42857143;
  color: #7d7d7d;
  margin: 25px;
}

/* img {
  height: 447px;
  margin-left: 55px;
} */

/* .montharrow{
width: 10%;
height: 40%;
} */

.resume{
  width: 50%;
  height: 40%;
  padding-right: 1px;
}

.closebutton {
  /* margin-left: 106px; */
  border-radius: 6px;
  background-color: #2F87CC;
  color: white;
  border: none;
  width: 56px;
  height: 36px;
  margin-left: 599px;
  margin-right: 20px;
}
.event_PendingBookCommunity{
  color: #2F87CC !important;
}



