<app-spinner *ngIf="loader"></app-spinner>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-10">
                    <p class="Heading">Job Openings Dashboard</p>
                </div>
                <div class="col-lg-2">
                    <button class="Add" routerLink='/JobRequisition'>Add</button>
                </div>
            </div>
            <hr class="HrLine">

            <div class="card">
                <br>
                <div class="row FilterClass">
                    <div class="col-lg-1">
                        Filter By
                    </div>
                    <div class="col-lg-3">
                        <input class="form-control" placeholder="Search" [(ngModel)]="search" name="search">
                    </div>
                    <div class="col-lg-3">
                        <input type="date" class="form-control" (change)="GetDate($event)" name="Date" value="Date"  [(ngModel)]="Date">

                    </div>
                    <div class="col-lg-3">
                        <select name="Select" class="form-control">
                            <option value="Select CTC">Select CTC</option>
                            <option value="30,000-50,000">30,000-50,000</option>
                            <option value="50,000-1,00000">50,000-1,00000</option>
                            <option value="1,00000-2,00000">1,00000-2,00000</option>
                        </select>
                    </div>
                  
                    <div class="col-lg-2">
                        <p class="Count">Count:{{count}}</p>
                    </div>
                </div> <br>
            </div> <br>

            <div class="row">
                <div class="col-lg-12">
                    <table class="table tablebordered">
                        <thead>
                            <tr class="newFont">
                                <th>Job Reference ID</th>
                                <th>Date</th>
                                <!-- <th>Client Name</th> -->
                                <th>Job Title</th>
                                <th>Skill/Technology</th>
                                <th>Total Years of Experience</th>
                                <th>expected Experience</th>
                                <th>Job Description</th>
                                <th>Job Location</th>
                                <th>No of Positions</th>
                                <th>CTC Budget</th>
                                <th>Hiring Manager</th>
                                 <th>Other Required Conditions</th>
                                <!-- <th>Actions </th> -->
                            </tr>
                        </thead>
                        <tr *ngFor="let job of joblist|filter:search">
                            <td *ngIf="job.vendor==null">{{job.jobRefernceID}}</td>
                            <td *ngIf="job.vendor==null">{{job.date}}</td>
                            <!-- <td>MindTree</td> -->
                            <td *ngIf="job.vendor==null">{{job.jobTitle}}</td>
                            <td *ngIf="job.vendor==null">{{job.skills}}</td>
                            <td *ngIf="job.vendor==null">{{job.totalExp}}</td>
                            <td *ngIf="job.vendor==null">{{job.relaventExp}}</td>
                            <td *ngIf="job.vendor==null">{{job.jobDescription}}</td>
                            <td *ngIf="job.vendor==null">{{job.joblocation}}</td>
                            <td *ngIf="job.vendor==null">{{job.noofpositions}}</td>
                            <td *ngIf="job.vendor==null">{{job.package}} </td>
                            <td *ngIf="job.vendor==null">{{job.hiringManager}}</td>
                            <td *ngIf="job.vendor==null"> {{job.otherRequiredConditions}}</td>
                            <!-- <td *ngIf="job.vendor==null">{{job.resourceManager}}</td> -->
                            <!-- <td *ngIf="job.vendor==null"><button class="button form-control Add1" data-toggle="modal"
                                    (click)="GetId(job.id)" data-target="#ScheduleInterview">Assign Vendor</button> <br/>
                                    <button class="button form-control Add1" data-toggle="modal"
                                    (click)="GetId(job.id)" data-target="#ScheduleInterview1">Assign Recruiter</button></td>
                            -->
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>



<div id="ScheduleInterview" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Assign Vendor</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-3">
                        <label class="Text">Vendor :</label>
                    </div>
                    <div class="col-lg-5">
                        <select class="form-control" [(ngModel)]="Vendor">
                            <option value="">Select </option>
                            <option *ngFor="let User of Userlist" value={{User.id}}>{{User.vendor_Name}} </option>
                        </select>
                    </div>
                </div> <br>

                <div class="row">
                    <div class="col-lg-3">
                        <label class="Text" style="font-weight: bold;">Notes :</label>
                    </div>
                    <div class="col-lg-5">
                        <textarea class="form-control" name="Notes" id="Notes" [(ngModel)]="Notes"
                            placeholder="Notes"></textarea>
                    </div>
                </div> <br>
                <div class="row">
                    <div class="col-lg-5"></div>
                    <div class="col-lg-2">
                        <button class="form-control Save" (click)="UpdateVendor()">Assign</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <hr>
                <div class="col-lg-2">
                    <button class="Button">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="ScheduleInterview1" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Assign Recruiter</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-3">
                        <label class="Text">Recruiter :</label>
                    </div>
                    <div class="col-lg-5">
                        <select class="form-control" [(ngModel)]="Recruiter">
                            <option value="">Select Recruiter</option>
                            <option *ngFor="let User of stafflist" value={{User.id}}>{{User.name}} </option>
                        </select>
                    </div>
                </div> <br>

                <div class="row">
                    <div class="col-lg-3">
                        <label class="Text" style="font-weight: bold;">Notes :</label>
                    </div>
                    <div class="col-lg-5">
                        <textarea class="form-control" name="Notes" id="Notes" [(ngModel)]="Notes"
                            placeholder="Notes"></textarea>
                    </div>
                </div> <br>
                <div class="row">
                    <div class="col-lg-5"></div>
                    <div class="col-lg-2">
                        <button class="form-control Save" (click)="UpdateRecruiter()">Assign</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <hr>
                <div class="col-lg-2">
                    <button class="Button">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>