<!-- <div class="container-fluid">
    <div class="row ">
        <div class="col-lg-2">
            <img src="../../assets/Images/digiRecruitment_250_100.png" class="logo" alt="logo">
        </div>
        <div class="col-lg-10">  
            <img src="../../assets/Images/logout.png" class="logout" (click)="logout()">&nbsp;
            <img src="../../assets/Images/notification.png" class="notify">&nbsp; &nbsp;&nbsp;
        </div>
    </div>
</div> -->

<div class="container-fluid" *ngIf="temp=='1'">
    <div class="row">
        <div class="col-lg-1">
            <img src="/assets/Images/digiRecruitment_250_100.png" class="logo" alt="logo">
        </div>

        <div class="col-lg-1">
            <h6 class="menutext" *ngIf="roleid!=8" routerLink="/Dashboard">Dashboard</h6>
        </div>
        <div class="col-lg-1">
            <h6 class=" dropdown-toggle menutext" *ngIf="roleid!=8" type="button" id="dropdownMenu1"
                data-toggle="dropdown" aria-expanded="false">Set Up</h6>
            <ul class="dropdown-menu">
                <li class="dropdown-item"><a class="menuitem" tabindex="-1" *ngIf="roleid!='7'"
                        routerLink="/JobRecruitements">Client</a></li>
                <li class="dropdown-item"><a class="menuitem" tabindex="-1" *ngIf="roleid=='7'"
                        routerLink="/VendorJobOpenings">Client Staff </a></li>
                <li class="dropdown-item"><a class="menuitem" routerLink="/RecruiterDashboard">Recruiter</a></li>
                <li class="dropdown-item"><a class="menuitem" routerLink="/RecruiterStaff">Recruiter Staff </a></li>
                <li class="dropdown-item"><a class="menuitem" *ngIf="roleid==8"
                        routerLink="/ScheduledInterviews">Vendor</a></li>
                <li class="dropdown-item"><a class="menuitem" routerLink="/SelectedCandidates">Vendor Staff</a></li>
                <li class="dropdown-item"><a class="menuitem" routerLink="/OfferedCandidates">Sourcing</a></li>
                <li class="dropdown-item"><a class="menuitem" routerLink="/JoinedCandidates">Sourcing Staff</a></li>
            </ul>
        </div>

        <div class="col-lg-1">
            <h6 class=" dropdown-toggle menutext" *ngIf="roleid!=8" type="button" id="dropdownMenu1"
                data-toggle="dropdown" aria-expanded="false">Job Recruitements</h6>
            <ul class="dropdown-menu">
                <li class="dropdown-item"><a class="menuitem" tabindex="-1" *ngIf="roleid!='7'"
                        routerLink="/JobRecruitements">Job Recruitement </a></li>
                <li class="dropdown-item"><a class="menuitem" tabindex="-1" *ngIf="roleid=='7'"
                        routerLink="/VendorJobOpenings">Job Recruitement </a></li>
                <li class="dropdown-item"><a class="menuitem" routerLink="/AppliedCandidates">AppliedCandidates</a></li>
                <li class="dropdown-item"><a class="menuitem" routerLink="/ShortListedCandidates">Shortlisted Candidates
                    </a></li>
                <li class="dropdown-item"><a class="menuitem" *ngIf="roleid==8"
                        routerLink="/ScheduledInterviews">Scheduled Interviews </a></li>
                <li class="dropdown-item"><a class="menuitem" routerLink="/SelectedCandidates">SelectedCandidates</a>
                </li>
                <li class="dropdown-item"><a class="menuitem" routerLink="/OfferedCandidates">Offered Candidates </a>
                </li>
                <li class="dropdown-item"><a class="menuitem" routerLink="/JoinedCandidates">Joined Candidates</a></li>
                <li class="dropdown-item"><a class="menuitem" routerLink="/DroppedCandidates">Dropped Candiadtes </a>
                </li>
            </ul>
        </div>

        <div class="col-lg-1" style="margin-left: 61px;">
            <h6 class=" dropdown-toggle menutext" type="button" id="dropdownMenu1" data-toggle="dropdown"
                aria-expanded="false" *ngIf="roleid!=8">Reports</h6>
            <ul class="dropdown-menu">
                <li class="dropdown-item"><a class="menuitem" tabindex="-1" routerLink="/JobRecruitementReport">Job
                        Recruitement Report</a></li>
                <li class="dropdown-item"><a class="menuitem" routerLink="/AppliedCandidatesReports">Applied Candidates
                        Reports</a></li>
                <li class="dropdown-item"><a class="menuitem" routerLink="/ShortlistedCandidatesReports">Shortlisted
                        Candidates Reports</a></li>
                <li class="dropdown-item"><a class="menuitem" routerLink="/ScheduledInterviewsReports">Scheduled
                        Interviews Reports</a></li>
                <li class="dropdown-item"><a class="menuitem"
                        routerLink="/SelectedCandidatesReports">SelectedCandidatesReports</a></li>
                <li class="dropdown-item"><a class="menuitem" routerLink="/OfferedCandidatesReports">Offered Candidates
                        Reports</a></li>
                <li class="dropdown-item"><a class="menuitem" routerLink="/JoinedCandidatesReport">Joined Candidates
                        Reports</a></li>
                <li class="dropdown-item"><a class="menuitem" routerLink="/DroppedCandiadtesReports">Dropped Candiadtes
                        Reports</a></li>
            </ul>
        </div>

        <div class="col-lg-1">
            <h6 class="menutext" *ngIf="roleid!=8" routerLink="/ClientDashBoard">Client</h6>
        </div>

        <div class="col-lg-3"></div>
        <div class="col-lg-1" style="margin-left: 100px;">
            <img src="/assets/Images/logout.png" class="logout" (click)="logout()">&nbsp;
            <img src="/assets/Images/notification.png" class="notify">&nbsp; &nbsp;&nbsp;
        </div>
    </div>
</div>