.Job{
    font-size: 25px;

}
.amaze{
    font-size: 18px;
    font-weight: 400;
    color:#007bff;
    padding-left: 20px;
}

.angular{
    padding-left: 20px;
}
.research{
padding-left:16px;
  font-weight: bold;
}
.Button{
    text-transform: uppercase;
  font-weight: initial;
  text-shadow: initial;
  letter-spacing: 0.5px;
  background-color:#2F87CC ;
  color:white;
  border-radius: 5px;
  border:none;
  padding: 5px;
  margin-right: 15px;
  font-size: 15px;
  font-weight: bold;
  }

  .registerbtn{
    background-color:#2F87CC ;
    color:white;
  }
  .manager{
      color:green;
      font-size: 18px;
  }
  /* .modal-content{
      height: 730px;
      width: 50%;
      overflow-y: scroll;
      overflow-x: scroll;
  } */


  .maindiv{
    background-color: #fff;
   padding: 3%;
   border-radius: 5px; 
   border: 1px solid rgba(22,50,92,.09);
   cursor: pointer;  
   margin-top: 10px;
   /* width: 100%;
   background-color: #fff;
   border: 1px solid rgba(22,50,92,.09);
  
   position: relative;
   cursor: pointer;  */


/* 
   text-shadow: none;
   transition: color .1s linear 0s,background-color .1s linear 0s,opacity .2s linear 0s; */

 }
 