<div class="container-fluid ">
    <div class="col-lg-5">
        <h3>Job Vacancies</h3>
    </div>

    <div class="row maindiv" *ngFor="let job of joblist">
        <div class="col-lg-12">
            <h6 style="color: #447eed;margin-top: -10px;">{{job.jobTitle}} ({{job.companyName}})
            </h6>
        </div>
        <div class="col-lg-4">
            <span class="catcss">{{job.skills}}</span>
        </div>
        <div class="col-lg-4">
            <span class="catcss">{{job.joblocation}}</span><br>
            <!-- <i class="fa fa-map-marker"> {{job.joblocation}}</i><br> -->
        </div>
        <div class="col-lg-4">
            Positions : {{job.noofpositions}}
        </div><br><br>
        <div class="col-lg-12">
            <span class="spanclass"><b>{{job.jobDescription}}</b></span><br><br>
        </div><br><br>

        <div class="col-lg-3">
            <!-- <span style="color: green;">Package : {{job.package}}</span> -->
        </div><br>
        <div class="col-lg-6">
            <span style="color: green;">Hiring Manager : {{job.hiringManager}}</span>
        </div><br>
        <div class="col-lg-3">

            <button class="button" data-toggle="modal" data-target="#exampleModal1" class="btn btn-primary"
                (click)="GetJobID(job.id)">Apply</button>&nbsp;

        </div><br><br>
    </div><br><br>

</div>




<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog moda-xl" role="document">
        <div class="modal-content moda-xl" style="width: 866px;">
            <div class="modal-header moda-xl" style="width: 866px;">
                <h5 class="modal-title" id="exampleModalLabel">Registration</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="width: 1000px;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3">
                            <label>Candidate Name : </label>
                        </div>
                        <div class="col-lg-5">
                            <input type="text" class="form-control" placeholder="Candidate Name"
                                [(ngModel)]="candidatename" name="candidatename">
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-lg-3">
                            <label>Phone No : </label>
                        </div>
                        <div class="col-lg-5">
                            <input type="text" class="form-control" placeholder="Phone No" [(ngModel)]="phoneno"
                                name="phoneno">
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-lg-3">
                            <label>Email : </label>
                        </div>
                        <div class="col-lg-5">
                            <input type="text" class="form-control" placeholder="Email" [(ngModel)]="email"
                                name="email">
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-lg-3">
                            <label>Total Years of Experience : </label>
                        </div>
                        <div class="col-lg-5">
                            <input type="text" class="form-control" placeholder="Total Years of Experience"
                                [(ngModel)]="yearsofexp" name="yearsofexp">
                        </div>

                    </div><br>
                    <div class="row">
                        <div class="col-lg-3">
                            <label>Relavent Experience : </label>
                        </div>
                        <div class="col-lg-5">
                            <input type="text" class="form-control" placeholder="Relavent Experience"
                                [(ngModel)]="relaventexp" name="relaventexp">
                        </div>

                    </div><br>
                    <div class="row">
                        <div class="col-lg-3">
                            <label>Current City : </label>
                        </div>
                        <div class="col-lg-5">
                            <input type="text" class="form-control" placeholder="Current City" [(ngModel)]="city"
                                name="city">
                        </div>

                    </div><br>

                    <div class="row">
                        <div class="col-lg-3">
                            <label>Are you Willing To Relocate : </label>
                        </div>
                        <div class="col-lg-5">
                            <input type="radio"  value="1" [(ngModel)]="relocate"
                                name="relocate">&nbsp;Yes
                            <input type="radio"  value="0" [(ngModel)]="relocate" name="relocate">&nbsp;No
                        </div>

                    </div><br>
                    <div class="row">
                        <div class="col-lg-3">
                            <label>Current Company : </label>
                        </div>
                        <div class="col-lg-5">
                            <input type="text" class="form-control" placeholder="Current Company"
                                [(ngModel)]="currentcompany" name="currentcompany">
                        </div>

                    </div><br>
                    <div class="row">
                        <div class="col-lg-3">
                            <label>Notice Period : </label>
                        </div>
                        <div class="col-lg-5">
                            <input type="text" class="form-control" placeholder="Notice Period"
                                [(ngModel)]="noticeperiod" name="noticeperiod">
                        </div>

                    </div><br>

                    <div class="row">
                        <div class="col-lg-3">
                            <label>Are you Currently Serving Notice Period : </label>
                        </div>
                        <div class="col-lg-5">
                            <input type="radio"  value="1" [(ngModel)]="servingnotice"
                                name="servingnotice">&nbsp;Yes
                            <input type="radio"  value="0" [(ngModel)]="servingnotice"
                                name="servingnotice">&nbsp;No
                        </div>

                    </div><br>
                    <div class="row">
                        <div class="col-lg-3">
                            <label>Resume : </label>
                        </div>
                        <div class="col-lg-5">
                            <!-- -->
                            <!-- <ngx-dropzone style="height:50px">
                                <ngx-dropzone-label (change)="onattachmentUpload($event)" >Drag and drop file here</ngx-dropzone-label>
                            </ngx-dropzone> -->

                            <ngx-dropzone [multiple]="false" (change)="onattachmentUpload($event)"
                                class="dropzone_vendorinvoice">
                                <ngx-dropzone-label>Drag and drop file here</ngx-dropzone-label>
                            </ngx-dropzone>
                        </div>
                        <div class="col-lg-4">
                            <img src="{{attachmentsurl}}" style="width: 42px;">
                        </div>

                    </div><br>
                    <div class="row">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-2">
                            <button type="button" class="addbtn" (click)="insertdetails()"
                                data-dismiss="modal">Register</button>
                        </div>
                        <div class="col-lg-5"></div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>