<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-12">
                    <p class="Job">Job Vacancies </p>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-lg-12"> <br>
                        <p class="amaze">Full Stack Developer (Amaze INC) </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <p class="angular">Angular,Rest Api,Sql server</p>
                    </div>
                    <div class="col-lg-4">
                        <p class="angular">Banglore</p>
                    </div>
                    <div class="col-lg-4">
                        <p class="angular">Positions : 2 positons</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p class="research">
                            Researching, designing, implementing, and managing software programs. Identifying areas for
                            modification in existing programs
                            and subsequently developing these modifications. Writing and implementing efficient code.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4">
                        <p class="manager">Hiring Manager: Bhargav</p>
                    </div>
                    <div class="col-lg-2">
                        <button class="Button">Apply</button>
                    </div>
                </div><br>
            </div><br>
            <div class="card">
                <div class="row">
                    <div class="col-lg-12"> <br>
                        <p class="amaze">Testing job (Ketshepile Mosa Khiba Logistics) </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <p class="angular">Selenium,Java</p>
                    </div>
                    <div class="col-lg-4">
                        <p class="angular">Banglore</p>
                    </div>
                    <div class="col-lg-4">
                        <p class="angular">Positions : 2 </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p class="research">
                            Java Req
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4">
                        <p class="manager">Hiring Manager: Stefaen</p>
                    </div>
                    <div class="col-lg-2">
                        <button class="Button">Apply</button>
                    </div>
                </div><br>
            </div><br>
            <div class="card">
                <div class="row">
                    <div class="col-lg-12"> <br>
                        <p class="amaze">Software Test Engineer (Amaze inc) </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <p class="angular">Should have prior experience in using popular test management and defect
                            management
                            tools such as Jira,Zephyr,XRay,TestLink,Fogbugz,TestRail,HP ALM,MS Test Manager,Azure DevOps
                            etc</p>
                    </div>
                    <div class="col-lg-4">
                        <p class="angular">Banglore</p>
                    </div>
                    <div class="col-lg-4">
                        <p class="angular">Positions : 2 </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p class="research">
                            Strong background knowledge and hands-on experience on manual testing concepts, test case
                            design techniques, SDLC models, Defect life cycle, etc Api testing Strong testing skills in
                            Web /Mobile (both native and web) application Should have the ability to create test cases,
                            test plans, use cases, Requirement traceability matrix, defect reports Should have the
                            ability to prepare test summary
                            reports Should have prior experience in using popular test management and defect management
                            tools such as J
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4">
                        <p class="manager">Hiring Manager: Stefaen</p>
                    </div>
                    <div class="col-lg-2">
                        <button class="Button">Apply</button>
                    </div>
                </div><br>
            </div><br>
            <div class="card">
                <div class="row">
                    <div class="col-lg-12"> <br>
                        <p class="amaze">QA Engineer (Amaze inc) </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <p class="angular">Strong Manual testing experience on Web- based applications Exposure to Setup
                            & Deploy Test/UAT/PROD Environments on Client Server technologies [Windows, Linux, Solaris,
                            Web Sphere, JBOSS, Apache/Tomcat] with Oracle 10g & Above Good exposure to J2EE, SQL, PL/SQL
                            and databases desired.
                            [Oracle 10g & above] Ability to troubleshoot software / hardware configuration problems</p>
                    </div>
                    <div class="col-lg-4">
                        <p class="angular">Banglore</p>
                    </div>
                    <div class="col-lg-4">
                        <p class="angular">Positions : 2 </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p class="research">
                            Personal Traits : Willingness to learn and adopt new technologies Strong
                            comprehension,analytical and problem solving skills Excellent Communication skills
                            (written & verbal) are mandatory Immediate Joiners or Candidates serving notice period
                            preferred
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4">
                        <p class="manager">Hiring Manager: Stefaen</p>
                    </div>
                    <div class="col-lg-2">
                        <button class="Button">Apply</button>
                    </div>
                </div><br>
            </div><br>
            <div class="card">
                <div class="row">
                    <div class="col-lg-12"> <br>
                        <p class="amaze">Testing job (Ketshepile Mosa Khiba Logistics) </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <p class="angular">Bachelors degree or better in CS or related field, with 1-2 years experience
                            in software test development,
                            including creating/maintaining test automation frameworks from scratch Exposure to best
                            practices in SQA and software development,
                            including code reviews, debugging, troubleshooting and CI process API-Testing:
                            Knowledge of API-level testing in Java, including but not limited to RESTful web service
                            testing</p>
                    </div>
                    <div class="col-lg-4">
                        <p class="angular">Banglore</p>
                    </div>
                    <div class="col-lg-4">
                        <p class="angular">Positions : 2 </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p class="research">
                            This position is for an Automation Engineer with strong coding skills who likes challenges -
                            someone
                            who is constantly striving for excellence in software test automation and tool development.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4">
                        <p class="manager">Hiring Manager: Stefaen</p>
                    </div>
                    <div class="col-lg-2">
                        <button class="Button">Apply</button>
                    </div>
                </div><br>
            </div><br>
            <div class="card">
                <div class="row">
                    <div class="col-lg-12"> <br>
                        <p class="amaze">Looking For Fresher Manual Tester (Ketshepile Mosa Khiba Logistics) </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <p class="angular">Manual Knowledge</p>
                    </div>
                    <div class="col-lg-4">
                        <p class="angular">Banglore</p>
                    </div>
                    <div class="col-lg-4">
                        <p class="angular">Positions : 2 </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p class="research">
                            JD: Designation :- Jr. Test Engineer Skills :- Manual Testing Qualification:- Graduated
                            Loc:- Western Mumbai
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4">
                        <p class="manager">Hiring Manager: Amulya Bijur</p>
                    </div>
                    <div class="col-lg-2">
                        <button class="Button">Apply</button>
                    </div>
                </div><br>
            </div><br>
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>