.export{
    border-radius: 10px;
    background-color: #3247D5;
    height: 35px;
    color: #fff;
    width:100%;
   border-radius:5px;
    margin-top: 2%;
}

.hrline{
   margin-top: 0px;
}

.Count{

  font-size: 20px !important;
;
  font-weight: bold;
  float: right;
  padding-right: 10px;;
}

.head{
    background-color: #02CFFF;
    color:white;
    font-family: "DIN Bold";
}

