.export{
    border-radius: 10px;
    background-color: #21a4da;
    height: 35px;
    color: #fff;
    width: 100%;
   border-radius: 0px;
    margin-top: 2%;
}


.card{
  padding: 10px;
}
.hrline{
   margin-top: 0px;
}
.Heading{
  padding-left: 15px;
  font-size: 20px;
  color:black;
}

.Count{
  color: #212529;
  font-size: 20px !important;
  font-family: 'DIN Bold';
  font-weight: bold;
  float: right;
  padding-right: 10px;;
}

.heading{
    background-color: #e4e5e6;
    color:#404040;
    font-family: "DIN Bold";
}
table{
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}
td{
    background-color: white
}