.Heading {
  padding-left: 30px;
  font-size: 20px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  text-decoration: 3px solid rgb(72, 83, 238) underline;
  color: rgb(72, 83, 238);
}

.FilterClass {
  padding-left: 15px;
  font-size: 15px;
  font-weight: bold;
  color: black;
}

.View {
  color: black;
  font-size: 15px;
  font-weight: bold;
}

.HrLine {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  margin-top: 0px;
}

.img {
  width: 25px;
  height: 10%;
}
.img:hover {
  background-color: chartreuse;
  color: white;
}
.imgcancel {
  width: 25px;
  height: 10%;
}
.imgcancel:hover {
  background-color: red;
  color: white;
}
.form-control {
  font-size: 15px;
  font-weight: bold;
}
.newFont {
  font-size: 15px;
  font-weight: bold;
  color: #494949;
}

.SelectData {
  text-align: center;
}

.Text {
  font-size: 16px;
  float: right;
  padding-right: 50px;
}

.NoResultShow {
  font-size: 16px;
}


.card {
  background: #ffffff;
  box-shadow: 1px 1px 15px 3px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  width: 99%;
}

table {
  border-radius: 12px;
}

.Heading {
  padding-left: 15px;
  color: #212529;
  font-size: 20px !important;
  font-family: "DIN Bold";
  font-weight: bold;
}

.Count {
  color: #3247d5;
  font-size: 20px !important;
  font-family: "Poppins";
  font-weight: bold;
  float: right;
  margin-top: 5px;
  margin-right: -80px;
}

.Addbutton {
  text-transform: uppercase;
  font-weight: initial;
  text-shadow: initial;
  letter-spacing: 0.5px;
  background-color: #3247d5;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  padding: 5px;
  width: 40%;
  float: right;
  margin-right: 15px;
  font-size: 15px;
  font-weight: bold;
}

.Edit {
  text-transform: uppercase;
  font-weight: initial;
  text-shadow: initial;
  letter-spacing: 0.5px;
  background-color: #3247d5;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  padding: 5px;
  width: 50%;
  margin-right: 15px;
  font-size: 12px;
  font-weight: bold;
}

.table td {
  color: #0c275a;
  vertical-align: middle;
  background-color: white;
  font-family: "Poppins";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;
}

.table th {
  background-color: #02cfff !important;
  color: #ffffff;
}
