

   .Heading{
    padding-left: 30px;
    font-size: 20px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    text-decoration: 3px solid rgb(72, 83, 238) underline;
    color:   rgb(72, 83, 238)
  }
  .card{
    background-color: white;
}

.card-padding{
    padding:1%;
}
.table{
  border-radius: 5px;
}

.Heading{
  padding-left: 15px;
  /* font-size: 15px; */
  /* font-weight: bold; */
  /* color: black; */
  /* text-decoration-line: underline; */

    color: #212529;
    font-size: 20px !important;
    font-family: 'DIN Bold';
    font-weight: bold;
}

.button{
  text-transform: uppercase;
font-weight: initial;
text-shadow: initial;
letter-spacing: 0.5px;
background-color:#2F87CC ;
color:white;
border-radius: 5px;
border:none;
padding: 5px;
width:40%;
float: right;
margin-right: 15px;
font-size: 15px;
font-weight: bold;
}

.edit {
    width: 85%;
    border: none;
    background-color: #2F87CC ;
    text-align: center;
    border-radius: 16px;
    color: white;
    margin-top: 6px;
  }

  .FilterClass{
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    color: black;
  }

  .View{
    color: black;
    font-size: 15px;
    font-weight: bold;
  }

  .table td {
    color: #494949;
    font-size: 12px;
    vertical-align: middle;
    background-color: white;
  }

  .table th {
    background-color: #e4e5e6 !important;
  }

  .HrLine{
    margin-left: 15px;
    margin-right: 15px;
  }

  .img{
    width: 25px;
    height: 10%;
  }
  .img:hover{
      background-color: chartreuse;
      color: white;
  }
  .imgcancel{
    width: 25px;
    height: 10%;
  }
  .imgcancel:hover{
    background-color: red;
    color: white;
  }
  .form-control{
    font-size: 15px;
    font-weight: bold;
  }
  .newFont{
    font-size: 15px;
    font-weight: bold;
    color: #494949;
  }
  
  .SelectData{
    text-align: center;
  }

  .Edit{
    width: 50px;
    border-radius: 7px;
    background-color: #2F87CC;
    color: white;
  }
  
  