<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-11">
                    <a href="" class="Heading">Client Dashboard</a>
                </div>
                <div class="col-lg-1">
                    <p class="Count">Count: {{count}}</p>
                </div>
            </div>
            <hr class="HrLine">
            <div class="row FilterClass">
                <div class="col-lg-2">
                    Search
                </div>
                <!-- <div class="col-lg-2">
                    <input class="form-control" type="date" placeholder="Duration">
                </div> -->
                <div class="col-lg-6">
                    <input class="form-control" type="search" placeholder="Search for Client Name"[(ngModel)]="search" >
                </div>
            </div><br>
            <div class="row">
                <div class="col-lg-8 View">
                    <ul>
                        <!-- <li><a class="active">View</a></li>
                        <li><a>Modify</a></li> -->
                    </ul>
                </div>
                <div class="col-lg-4">
                    <a routerLink="/ClientForm"><button class="button">Add</button> </a>
                </div>
            </div><br>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table">
                            <thead>
                                <tr class="newFont">
                                    <th>Client Logo</th>
                                    <th>Client Name</th>
                                    <th>Email</th>
                                    <th>Client Phone No.</th>
                                    <th>Address <th> 
                                    <th>Actions</th>
                                <tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let ClientMasterData of ClientMasterlist | filter:search">
                                    <td style="width: 176px;"><img src="{{ClientMasterData.logo}}" style="width:65%;"></td>
                                    <td>{{ClientMasterData.name}}</td>
                                    <td>{{ClientMasterData.phoneNo}}</td>
                                    <td>{{ClientMasterData.email}}</td>
                                    <td>{{ClientMasterData.address}}</td>
                                    <td></td>
                                    <td><button class="Edit" (click)="edit(ClientMasterData.id)">Edit</button><br><br>
                                    <button class="Edit" (click)="delete(ClientMasterData)">Delete</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>
