<div class="container-fluid">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
      <div class="row">
        <div class="col-lg-12">
          <p class="Heading"> Applied Candidates Dashboard</p>
          <hr class="HrLine">
        </div>
      </div> <br>
      <div class="card"><br>
        <div class="row FilterClass">
          <div class="col-lg-2">
            Filter By
          </div>
          <div class="col-lg-3">
            <input class="form-control" type="date" placeholder="Duration">
          </div>
          <div class="col-lg-3">
            <input class="form-control" type="search" placeholder="Search">
          </div>
          <div class="col-lg-2"></div>
          <div class="col-lg-2">
            <p>Count : 7</p>
          </div>
        </div> <br>
      </div><br>

      <div class="row">
        <div class="col-lg-12">
          <table class="table tablebordered">
            <thead>
              <tr class="head">
                <th>Vendor</th>
                <th>Job Reference ID</th>
                <th>Job Title</th>
                <th>Candidate Name</th>
                <th>Phone No</th>
                <th>Email</th>
                <th>CTC</th>
                <th>Notice Period</th>
                <th>Total Years of Experience</th>
                <th>Relevant Experience</th>
                <th>City</th>
                <th>Resume</th>
                <th>Notes</th>
                <th>Actions</th>
              </tr>
              <tr>
                <td>Amaze</td>
                <td>25984</td>
                <td>Full Stack Developer</td>
                <td>ananya</td>
                <td>08129981409</td>
                <td>ananya@gmail.com</td>
                <td>3 LPA</td>
                <td>30 days</td>
                <td>5</td>
                <td>4</td>
                <td>bangalore</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Amaze</td>
                <td>80640</td>
                <td>QA Engineer</td>
                <td>sawthi</td>
                <td>08129981401</td>
                <td>sawthi@gmail.com</td>
                <td>3 LPA</td>
                <td>15 days</td>
                <td>4</td>
                <td>4</td>
                <td>bangalore</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Amaze</td>
                <td>25984</td>
                <td>Full Stack Developer </td>
                <td>joe</td>
                <td>7990167890 </td>
                <td>joe@gmail.com</td>
                <td>5 LPA</td>
                <td>30 days</td>
                <td>4</td>
                <td>4</td>
                <td>bangalore</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-1"></div>
  </div>
</div>