
.Job{
    color:gray;
    padding-left: 10px;
    font-size: 18px;
    padding-top: 20px;
    font-weight: 400;
}
.search{
    margin-left: 10px;
}

  .newFont{
   
    color:black;
    width:100%;
    vertical-align: middle;
  }

 /* .th{
    background-color: #e4e5e6;
    color:#404040;
    font-family: "DIN Bold";
} */
/* .table, th, td {
  border: 1px solid lightgray;
   border-collapse: collapse; 
} */

.head{
 background-color: #02CFFF;
 color:white;

}
.FilterClass{
  padding-left: 15px;
}

.Heading{
  padding-left: 5px;
  font-size: 20px;
  color:#3247D5;
}

.Count{

  font-size: 20px !important;
  font-weight: bold;
  float: right;
  padding-right: 10px;
  margin-right: 10px;
}

.pdf{
  width: 25%;
  height: auto;
}
.img{
  width: 25px;
  height: 10%;
}
.img:hover{
    background-color: chartreuse;
    color: white;
}
.imgcancel{
  width: 25px;
  height: 10%;
}
.imgcancel:hover{
  background-color: red;
  color: white;
}
.card{
  background: #FFFFFF;
  box-shadow: 1px 1px 15px 3px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
}