<br>
<div class="container-fluid">
  <div class="card">
      <div class="row">
          <div class="col-lg-12">
              <p class="Job">APPLIED CANDIDATES DASHBOARD</p>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-3">
              <input class="form-control" placeholder="Search">
          </div>
          <div class="col-lg-3">
            <select name="Select CTC"  class="form-control">
                <option value="Select CTC">Select CTC</option>
                <option value="30,000-50,000">30,000-50,000</option>
                <option value="50,000-1,00000">50,000-1,00000</option>
                <option value="1,00000-2,00000">1,00000-2,00000</option>
              </select>
        </div>
        <div class="col-lg-3">
            <select name="Select CTC"  class="form-control">
                <option value="Select Notice Period">Select Notice Period</option>
                <option value="15days">15days</option>
                <option value="30 days">30 days</option>
                <option value="45days">45days</option>
                <option value="90days">90days</option>
              </select>
        </div>
        <div class="col-lg-1">
            <p>Count : 5</p>
        </div>
      </div> <br>
      <div class="row">
        <div class="col-lg-12">
            <table class="table tablebordered">
                <thead>
                    <tr class="newFont">
                        <th>Vendor</th>
                        <th>Job Reference ID</th>
                        <th>Job Title</th>
                        <th>Candidate Name</th>
                        <th>Phone No</th>
                        <th>Email</th>
                        <th>CTC	</th>
                        <th>Notice Period</th>
                        <th>Total Years of Experience</th>
                        <th>Relevant Experience</th>
                        <th>City</th> 
                        <th>Resume</th>
                        <th>Notes</th>
                        <th>Actions</th>
                    </tr>
                    <tr class="Textdata">
                      <td>Amaze</td>
                      <td>25984</td>                                   
                      <td>Full Stack Developer</td>
                      <td>ananya</td>
                      <td>08129981409</td>
                      <td>ananya@gmail.com</td>
                      <td>3 LPA</td>
                      <td>30 days</td>
                      <td>5</td>
                      <td>4</td>
                      <td>bangalore</td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr class="Textdata">
                        <td>Amaze</td>
                        <td>80640</td>                                   
                        <td>QA Engineer</td>
                        <td>sawthi</td>
                        <td>08129981401</td>
                        <td>sawthi@gmail.com</td>
                        <td>3 LPA</td>
                        <td>15 days</td>
                        <td>4</td>
                        <td>4</td>
                        <td>bangalore</td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr class="Textdata">
                        <td>Amaze</td>
                        <td>25984</td>                                   
                        <td>Full Stack Developer</td>
                        <td>joe</td>
                        <td>7990167890</td>
                        <td>joe@gmail.com</td>
                        <td>3 LPA</td>
                        <td>15 days</td>
                        <td>4</td>
                        <td>4</td>
                        <td>bangalore</td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                </thead>
            </table>
        </div>
    </div>
  </div>
</div>
