<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-12">
                    <p class="job">Job Requisition </p>
                </div>
            </div> <hr>
            <div class="card">
                <div class="row">
                    <div class="col-lg-3">
                      <p class="text"> Job Title </p>
                    </div>
                    <div class="col-lg-3">
                        <p class="text"> Skill / Technology </p>
                      </div>
                      <div class="col-lg-3">
                        <p class="text"> Total Years of Experience </p>
                      </div>
                      <div class="col-lg-3">
                        <p class="text"> Years of Relavant Experience</p>
                      </div>
                    
                </div>
                <div class="row">
                    <div class="col-lg-3">
                     <input class="form-control" placeholder=" Job Title">
                    </div>
                    <div class="col-lg-3">
                        <textarea class="form-control" placeholder="Skill / Technolog"></textarea>
                      </div>
                      <div class="col-lg-3">
                        <input class="form-control" placeholder="Total Years of Experience">
                      </div>
                      <div class="col-lg-3">
                        <input class="form-control" placeholder="Years of Relavant Experience">
                      </div>
                    
                </div> <br>
                <div class="row">
                    <div class="col-lg-3">
                      <p class="text">No of Positions</p>
                    </div>
                    <div class="col-lg-3">
                        <p class="text"> Company Name </p>
                      </div>
                      <div class="col-lg-3">
                        <p class="text"> Maximun CTC Offered </p>
                      </div>
                      <div class="col-lg-3">
                        <p class="text"> Hiring Manager</p>
                      </div>
                     
                </div>
                <div class="row">
                    <div class="col-lg-3">
                     <input class="form-control" placeholder=" No of Positions">
                    </div>
                    <div class="col-lg-3">
                        <textarea class="form-control" placeholder=" Company Name "></textarea>
                      </div>
                      <div class="col-lg-3">
                        <input class="form-control" placeholder=" Maximun CTC Offered">
                      </div>
                      <div class="col-lg-3">
                        <input class="form-control" placeholder="Hiring Manager">
                      </div>
                     
                </div>
                <div class="row">
                  <div class="col-lg-3">
                    <p class="text">Job Description </p>
                  </div>
                  <div class="col-lg-3">
                    <p class="text"> Job Location </p>
                  </div>
                  <div class="col-lg-3">
                    <p class="text">Other Required Conditions </p>
                  </div>
                  <div class="col-lg-3">
                    <p class="text"> Resource Manager </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-3">
                    <input class="form-control" placeholder="Job Description">
                  </div>
                  <div class="col-lg-3">
                    <input class="form-control" placeholder=" Job Location">
                  </div>
                  <div class="col-lg-3">
                    <input class="form-control" placeholder="Other Required Condition">
                  </div>
                  <div class="col-lg-3">
                    <input class="form-control" placeholder=" Resource Manager">
                  </div>
                </div> <br>


                <div class="row">
                    <div class="col-lg-5">                      
                    </div>
                    <div class="col-lg-2">
                        <button class="save">Save</button>
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>
