<p>Job Requisition</p>
<div class="card">

    <div class="row">
        <div class="col-lg-3">
            <p>Job Title</p>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="Job Title">
        </div>
    </div><br>
    <div class="row">
        <div class="col-lg-3">
            <p>Skill / Technology</p>
        </div>
        <div class="col-lg-4">
            <textarea type="text" class="form-control" placeholder="Skill/Technology" rows="4"></textarea>
        </div>
    </div><br>
    <div class="row">
        <div class="col-lg-3">
            <p>Total Years of Experience</p>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="Total Years of Experience">
        </div>
    </div><br>
    <div class="row">
        <div class="col-lg-3">
            <p>Years of Relavant Experience</p>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="Years of Relavant Experience">
        </div>
    </div><br>
    <div class="row">
        <div class="col-lg-3">
            <p>Job Description</p>
        </div>
        <div class="col-lg-4">
            <textarea type="text" class="form-control" placeholder="Job Description" rows="2"></textarea>
            </div>
        </div><br>
        <div class=" row">
            <div class="col-lg-3">
                <p>Job Location</p>
            </div>
            <div class="col-lg-4">
                <textarea type="text" class="form-control" placeholder="Job Location" rows="2"></textarea>
        </div>
    </div><br>
    <div class="row">
        <div class="col-lg-3">
            <p>No of Positions</p>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="No of Positions">
        </div>
    </div><br>
    <div class="row">
        <div class="col-lg-3">
            <p>Company Name</p>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="Company Name">
        </div>
    </div><br>
    <div class="row">
        <div class="col-lg-3">
            <p>Maximun CTC Offered</p>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="Maximun CTC Offered">
        </div>
    </div><br>
    <div class="row">
        <div class="col-lg-3">
            <p>Hiring Manager</p>
        </div>
        <div class="col-lg-4">
            <Select type="text" class="form-control" placeholder="Hiring Manager">
                <option value="Select">Select</option>
                <option value="Anup S">Anup S</option>
                <option value="Sanath">Sanath</option>
            </Select>
        </div>
    </div><br>
    <div class="row">
        <div class="col-lg-3">
            <p>Other Required Conditions</p>
        </div>
        <div class="col-lg-4">
            <textarea type="text" class="form-control" placeholder="Other Required Conditions" rows="4"></textarea>
        </div>
    </div><br>
    <div class="row">
        <div class="col-lg-3">
            <p>Resource Manager</p>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="Resource Manager">
        </div>
    </div><br>
    <div class="row">
        <div class="col-lg-5"></div>
        <div class="col-lg-2">
           <button class="form-control submitbtn">Submit</button>
        </div>
    </div><br>
</div>