<div class="container-fluid background">  <!--*ngIf="login==1" -->
    <div class="row side-height">
        <div class="col-lg-12 negative">
            <p class="side-anchr">Welcome, Amulya Bijur</p>
            <hr class="HrLine">
            <p>
                <span routerLink="/PayRoll" class="side-anchr ">Dashboard</span>
            </p>
            <p>
                <button data-toggle="collapse" class="togglebtn button" data-target="#reports">Job Recruitement</button>
            <div id="reports" class="collapse submenu">
                <p><a class="tablinks submenu" routerLink="/Companyprofile">
                        Job Recruitement
                    </a>
                <p>
                    <a class="tablinks submenu" routerLink="/PayRoll">
                        Applied Candidates
                    </a>
                <p>
                    <a class="tablinks submenu" routerLink="/ProjectBlocksDashboard">
                        Shortlisted Candidates
                    </a>
                <p>
                    <a class="tablinks submenu" routerLink="/unitdetails">
                        Scheduled Interviews
                    </a>
                <p>
                    <a class="tablinks submenu" routerLink="/unitdetails">
                        Selected Candidates
                    </a>
                <p>
                    <a class="tablinks submenu" routerLink="/unitdetails">
                        Offered Candidates
                    </a>
                <p>
                    <a class="tablinks submenu" routerLink="/unitdetails">
                        Joined Candidates
                    </a>
                <p>
                    <a class="tablinks submenu" routerLink="/unitdetails">
                        Dropped Candidates
                    </a>
            </div>

            <p>
                <button data-toggle="collapse" class="togglebtn button" data-target="#reports">Reports</button>
            <div id="reports" class="collapse submenu">
                <p><a class="tablinks submenu" routerLink="/Companyprofile">
                    Job Recruitement Reports
                </a>
            <p>
                <a class="tablinks submenu" routerLink="/PayRoll">
                    Applied Candidates Reports
                </a>
            <p>
                <a class="tablinks submenu" routerLink="/ProjectBlocksDashboard">
                    Shortlisted Candidates Reports
                </a>
            <p>
                <a class="tablinks submenu" routerLink="/unitdetails">
                    Scheduled Interviews Reports
                </a>
            <p>
                <a class="tablinks submenu" routerLink="/unitdetails">
                    Selected Candidates Reports
                </a>
            <p>
                <a class="tablinks submenu" routerLink="/unitdetails">
                    Offered Candidates Reports
                </a>
            <p>
                <a class="tablinks submenu" routerLink="/unitdetails">
                    Joined Candidates Reports
                </a>
            <p>
                <a class="tablinks submenu" routerLink="/unitdetails">
                    Dropped Candidates Reports
                </a>
            </div>
        </div>
    </div>
</div>