.sidenav {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: -0.6%;
  left: 0;

  background: #FFFFFF;
  /* ContainerWhite_DropShadow */

  box-shadow: 1px 1px 15px 3px rgba(0, 0, 0, 0.12);
  overflow-x: hidden;
  padding-top: 10px;

}

.icon28 {
  font-size: 15px;
  color: #3247D5;
}

.icon {
  color: #3247D5;
}


.sideblue a {
  padding: 10px 0px 5px 0px;
  text-decoration: none;
  font-size: 13px;

  display: block;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;

  text-transform: uppercase;
  border-bottom: 1px solid gray;

}

.sidenav a {
  padding: 10px 0px 5px 0px;
  text-decoration: none;
  font-size: 13px;

  display: block;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;

  text-transform: uppercase;

  border-bottom: 1px solid gray;


}

.sidenav a:active {
  color: #3247D5;
} 
/* 
.sidenav a:active {
  color: #3247D5;
  cursor: pointer;
}

.sidenav a:hover {
  color: #3247D5;
  cursor: pointer;
} */

.togglebtn {
  /* background-color: #343536; */
  border: none;
  color: aliceblue;
  font-size: 12px;
  padding-left: 7%;
  width: 100%;
  text-align: left;
}
a.active {
  color:#3247D5;
  width: 100%;
}