<div class="container-fluid background">
    <!--*ngIf="login==1" -->
    <div class="row side-height">
        <div class="col-lg-12 negative-padding">
            <p class="side-anchr">Welcome, Amulya Bijur</p>
            <hr class="HrLine">
            <p>
                <span routerLink="/PayRoll" class="side-anchr ">Dashboard</span>
            </p>
            <p>
            <div class="dropdown">
                <button data-toggle="collapse" class="togglebtn button" data-target="#recruite">Job
                    Recruitement</button>
                <div id="recruite" class="collapse submenu">
                    <p><a class="tablinks submenu" routerLink="/JobRecruitementReport">
                            Job Recruitement
                        </a>
                    <p>
                        <a class="tablinks submenu" routerLink="/AppliedCandidatesReports">
                            Applied Candidates
                        </a>
                    <p>
                        <a class="tablinks submenu" routerLink="/ShortlistedCandidatesReports">
                            Shortlisted Candidates
                        </a>
                    <p>
                        <a class="tablinks submenu" routerLink="/ScheduledInterviewsReports">
                            Scheduled Interviews
                        </a>
                    <p>
                        <a class="tablinks submenu" routerLink="/SelectedCandidatesReports">
                            Selected Candidates
                        </a>
                    <p>
                        <a class="tablinks submenu" routerLink="/OfferedCandidatesReports">
                            Offered Candidates
                        </a>
                    <p>
                        <a class="tablinks submenu" routerLink="/JoinedCandidatesReport">
                            Offered Candidates
                        </a>

                    <p>
                        <a class="tablinks submenu" routerLink="/DroppedCandiadtesReports">
                            Dropped Candidates
                        </a>
                </div>
            </div>

            <p>
            <div class="dropdown">
                <button data-toggle="collapse" class="togglebtn button" data-target="#reports">Reports</button>
                <div id="reports" class="collapse submenu">
                    <p><a class="tablinks submenu" routerLink="/JobRecruitementReport">
                            Job Recruitement Reports
                        </a>
                    <p>
                        <a class="tablinks submenu" routerLink="/AppliedCandidatesReports">
                            Applied Candidates Reports
                        </a>
                    <p>
                        <a class="tablinks submenu" routerLink="/ShortlistedCandidatesReports">
                            Shortlisted Candidates Reports
                        </a>
                    <p>
                        <a class="tablinks submenu" routerLink="/ScheduledInterviewsReports">
                            Scheduled Interviews Reports
                        </a>
                    <p>
                        <a class="tablinks submenu" routerLink="/SelectedCandidatesReports">
                            Selected Candidates Reports
                        </a>
                    <p>
                        <a class="tablinks submenu" routerLink="/OfferedCandidatesReports">
                            Offered Candidates Reports
                        </a>
                    <p>
                        <a class="tablinks submenu" routerLink="/JoinedCandidatesReports">
                            Joined Candidates Reports
                        </a>
                    <p>
                        <a class="tablinks submenu" routerLink="/DroppedCandiadtesReports">
                            Dropped Candidates Reports
                        </a>
                </div>
            </div>
        </div>
    </div>
</div>