<!-- <div class="container-fluid background">
*ngIf="login==1" 
    <div class="row side-height">
        <div class="col-lg-12 negative-padding">
            <p class="side-anchr">Welcome, Amulya Bijur</p>
            <hr class="HrLine">
            <p>
                <span routerLink="/Dashboard" class="side-anchr ">Dashboard</span>
            </p>
            <p>
            <div class="dropdown">
                <button data-toggle="collapse" class="togglebtn button" data-target="#recruite">Job
                    Recruitement</button>
                <div id="recruite" class="collapse submenu">
                    <p><a class="tablinks submenu" routerLink="/JobRecruitementReport">
                            Job Recruitement
                        </a>
                    <p>
                        <a class="tablinks submenu" routerLink="/AppliedCandidatesReports">
                            Applied Candidates
                        </a>
                    <p>
                        <a class="tablinks submenu" routerLink="/ShortlistedCandidatesReports">
                            Shortlisted Candidates
                        </a>
                    <p>
                        <a class="tablinks submenu" routerLink="/ScheduledInterviewsReports">
                            Scheduled Interviews
                        </a>
                    <p>
                        <a class="tablinks submenu" routerLink="/SelectedCandidatesReports">
                            Selected Candidates
                        </a>
                    <p>
                        <a class="tablinks submenu" routerLink="/OfferedCandidatesReports">
                            Offered Candidates
                        </a>
                    <p>
                        <a class="tablinks submenu" routerLink="/JoinedCandidatesReport">
                            Offered Candidates
                        </a>

                    <p>
                        <a class="tablinks submenu" routerLink="/DroppedCandiadtesReports">
                            Dropped Candidates
                        </a>
                </div>
            </div>

            <p>
            <div class="dropdown">
                <button data-toggle="collapse" class="togglebtn button" data-target="#reports">Reports</button>
                <div id="reports" class="collapse submenu">
                    <p><a class="tablinks submenu" routerLink="/JobRecruitementReport">
                            Job Recruitement Reports
                        </a>
                    <p>
                        <a class="tablinks submenu" routerLink="/AppliedCandidatesReports">
                            Applied Candidates Reports
                        </a>
                    <p>
                        <a class="tablinks submenu" routerLink="/ShortlistedCandidatesReports">
                            Shortlisted Candidates Reports
                        </a>
                    <p>
                        <a class="tablinks submenu" routerLink="/ScheduledInterviewsReports">
                            Scheduled Interviews Reports
                        </a>
                    <p>
                        <a class="tablinks submenu" routerLink="/SelectedCandidatesReports">
                            Selected Candidates Reports
                        </a>
                    <p>
                        <a class="tablinks submenu" routerLink="/OfferedCandidatesReports">
                            Offered Candidates Reports
                        </a>
                    <p>
                        <a class="tablinks submenu" routerLink="/JoinedCandidatesReports">
                            Joined Candidates Reports
                        </a>
                    <p>
                        <a class="tablinks submenu" routerLink="/DroppedCandiadtesReports">
                            Dropped Candidates Reports
                        </a>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="container-fluid">
    <div class="row ">
        <div class="col-lg-2">
            <img src="assets/Images/digiRecruitment_250_100.png" class="logo" alt="logo">
        </div>
        <div class="col-lg-10">  
            <img src="assets/Images/logout.png" class="logout" (click)="logout()">&nbsp;
            <img src="assets/Images/notification.png" class="notify">&nbsp; &nbsp;&nbsp;
        </div>
    </div>
</div> -->


<div class="container-fluid" *ngIf="temp=='1'">
    <div class="row">
        <div class="col-md-2 sidenav " style="height: 100vh;margin-top: 75px;position: fixed;">

            <a *ngIf="roleid=='1' && roleid!='5' && roleid!='6'" (click)="admin()" class="nonactive"
                (click)="openCity($event)">

                <img *ngIf="!home" src="assets/Images/64/home.png" style="width: 13%;  margin-right: 17px;">&nbsp;
                <img *ngIf="home" src="assets/Images/64 Blue/home.png" style="width: 13%;  margin-right: 17px;" />
                <!-- <i class="fa fa-dashcube" style="width: 20px; font-size: 20px;   margin-right: 17px;"></i>-->
                &nbsp; Dashboard

            </a>

            <a *ngIf=" roleid=='6' || roleid=='3'" (click)="admin()" class="nonactive" (click)="openCity($event)">

                <!-- <i class="fa fa-dashcube" style="width: 20px; font-size: 20px;    margin-right: 17px;"></i>
            &nbsp; Dashboard -->
                <img *ngIf="home" src="assets/Images/64 Blue/home.png" style="width: 13%;  margin-right: 17px;" />
                <img *ngIf="!home" src="assets/Images/64/home.png" style="width: 13%;  margin-right: 17px;">&nbsp;
                &nbsp; Dashboard
            </a>

            <a *ngIf="roleid=='1'" data-toggle="collapse" class="togglebtn button nonactive"
                data-target="#userapplications">

                <i class="fa fa-gears icon28" style="width: 15%;    margin-right: 17px;"></i>
                &nbsp; SETUP
                <!-- <img src="assets/images/downarrow.png" style="width: 20px;margin-left: 104px;"> -->
            </a>

            <div id="userapplications" class="collapse" style="padding-left: 7%;">
                <a (click)="Client()" class="nonactive" (click)="openCity($event)">
                    <img *ngIf="client" src="assets/Images/64 Blue/ATTENDANCE/Report/masters/Employee Job History.png"
                        style="width: 13%;  margin-right: 17px;" />
                    <img *ngIf="!client" src="assets/Images/64/ATTENDANCE/Report/masters/Employee Job History.png"
                        style="width: 13%;  margin-right: 17px;" /> &nbsp; CLIENT
                </a>
                <a (click)="Clientstaff()" class="nonactive" (click)="openCity($event)">
                    <img *ngIf="!clientstaff" src="assets/Images/64/ATTENDANCE/Report/masters/Department Master.png"
                        style="width: 13%;    margin-right: 17px;" />
                    <img *ngIf="clientstaff" src="assets/Images/64 Blue/ATTENDANCE/Report/masters/Department Master.png"
                        style="width: 13%;    margin-right: 17px;" />
                    &nbsp; CLIENT
                    STAFF `
                </a>
                <a class="nonactive" (click)="openCity($event)" (click)="Recruitstaff()">
                    <img *ngIf="recruitstaff" src="assets/Images/64 Blue/ATTENDANCE/Report/masters/Country_master.png"
                        style="width: 13%;    margin-right: 17px;" />
                    <img *ngIf="!recruitstaff" src="assets/Images/64/ATTENDANCE/Report/masters/Country_master.png"
                        style="width: 13%;    margin-right: 17px;" />
                    &nbsp;COMPANY
                    STAFF
                </a>
                <a class="nonactive" (click)="openCity($event)" (click)="vendor()">
                    <img *ngIf="!vendo" src="assets/Images/64/ATTENDANCE/Report/masters/Deniminis _master.png"
                        style="width: 13%;   margin-right: 17px;" />
                    <img *ngIf="vendo" src="assets/Images/64 Blue/ATTENDANCE/Report/masters/Deniminis _master.png"
                        style="width: 13%;    margin-right: 17px;" />
                    &nbsp;VENDOR
                </a>
                <a class="nonactive" (click)="openCity($event)" (click)="vendorstaff()">
                    <img *ngIf="vendorstaf"
                        src="assets/Images/64 Blue/ATTENDANCE/Report/masters/Shift Master Trainer.png "
                        style="width: 13%;  margin-right: 17px;" />
                    <img *ngIf="!vendorstaf" src="assets/Images/64/ATTENDANCE/Report/masters/Shift Master Trainer.png"
                        style="width: 13%;  margin-right: 17px;" />

                    &nbsp;VENDOR
                    STAFF
                </a>

                <a class="nonactive" (click)="openCity($event)" (click)="Description()">
                    <img *ngIf="vendorstaf"
                        src="assets/Images/64 Blue/ATTENDANCE/Report/masters/Shift Master Trainer.png "
                        style="width: 13%;  margin-right: 17px;" />
                    <img *ngIf="!vendorstaf" src="assets/Images/64/ATTENDANCE/Report/masters/Shift Master Trainer.png"
                        style="width: 13%;  margin-right: 17px;" />

                    &nbsp;JOB DESCRIPTION

                </a>

                <a class="nonactive" (click)="openCity($event)" (click)="JOBAPPROVAL()">
                    <img *ngIf="vendorstaf"
                        src="assets/Images/64 Blue/ATTENDANCE/Report/masters/Shift Master Trainer.png "
                        style="width: 13%;  margin-right: 17px;" />
                    <img *ngIf="!vendorstaf" src="assets/Images/64/ATTENDANCE/Report/masters/Shift Master Trainer.png"
                        style="width: 13%;  margin-right: 17px;" />

                    &nbsp;JOB APPROVAL CONFIG

                </a>
                <a class="nonactive" (click)="openCity($event)" (click)="ManpowerPlanning()" *ngIf="roleid!=11">
                    <img *ngIf="ManpowerPlanning1"
                        src="assets/Images/64 Blue/ATTENDANCE/Report/masters/Shift Master Trainer.png "
                        style="width: 13%;  margin-right: 17px;" />
                    <img *ngIf="!ManpowerPlanning1"
                        src="assets/Images/64/ATTENDANCE/Report/masters/Shift Master Trainer.png"
                        style="width: 13%;  margin-right: 17px;" />

                    &nbsp; Manpower Planning

                </a>

            </div>

            <a *ngIf="roleid!=1 && roleid!=5" data-toggle="collapse" class="togglebtn button"
                data-target="#userapplications1" class="nonactive" (click)="openCity($event)">
                <img src="assets/Images/64/ATTENDANCE/Report/Employee Report.png"
                    style="width: 13%;  margin-right: 17px;" *ngIf="roleid!=8 " />

                &nbsp; Manpower Requisition
                <!-- <img src="assets/images/downarrow.png" style="width: 20px;margin-left: 104px;"> -->
            </a>

            <div id="userapplications1" class="collapse" style="padding-left: 7%;">
                <a (click)="JobRecruitment()" class="nonactive" (click)="openCity($event)" *ngIf=" roleid=='2'">
                    <img src="assets/Images/64 Blue/Staff.png" style="width: 20px;    margin-right: 17px;" />
                    <!-- <img *ngIf="Jobrecruit==false" src="assets/Images/64/Staff.png"
                        style="width: 20px;    margin-right: 17px;" />  -->&nbsp; JOB RECRUITMENT
                </a>
                <a (click)="VendorRecruitment()" *ngIf="roleid=='3' || roleid=='6'" class="nonactive"
                    (click)="openCity($event)">
                    <img *ngIf="Vendorrecruit" src="assets/Images/64 Blue/Staff.png"
                        style="width: 20px;    margin-right: 17px;" />
                    <img *ngIf="!Vendorrecruit" src="assets/Images/64/Staff.png"
                        style="width: 13%;  margin-right: 17px;" /> &nbsp; JOB RECRUITMENT
                </a>
                <a (click)="Appliedcandidates()" class="nonactive" (click)="openCity($event)">
                    <img *ngIf="!applied" src="assets/Images/64/ATTENDANCE/OVER TIME DETAILS.png"
                        style="width: 13%;  margin-right: 17px;" />
                    <img *ngIf="applied" src="assets/Images/64 Blue/ATTENDANCE/OVER TIME DETAILS.png"
                        style="width: 13%;  margin-right: 17px;" /> &nbsp;APPLIED CANDIDATES

                </a>
                <a (click)="Shortlisted()" class="nonactive" (click)="openCity($event)">
                    <img *ngIf="shortlist" src="assets/Images/64 Blue/ATTENDANCE/Report/Employee Report.png"
                        style="width: 13%;  margin-right: 17px;" />
                    <img *ngIf="!shortlist" src="assets/Images/64/ATTENDANCE/Report/Employee Report.png"
                        style="width: 13%;  margin-right: 17px;" /> &nbsp;SHORTLISTED
                </a>
                <a (click)="Scheduled()" *ngIf="roleid==8" class="nonactive" (click)="openCity($event)">
                    <img src="assets/Images/Vector.png" style="width: 13%;  margin-right: 17px;" />

                    &nbsp;SCHEDULED INTERVIEWS

                </a>
                <a (click)="Selected()" class="nonactive" (click)="openCity($event)">
                    <img *ngIf="!selected" src="assets/Images/64/ATTENDANCE/Report/Probation Evaluation.png"
                        style="width: 13%;  margin-right: 17px;" />
                    <img *ngIf="selected" src="assets/Images/64 Blue/ATTENDANCE/Report/Probation Evaluation.png"
                        style="width: 13%;  margin-right: 17px;" />

                    &nbsp;SELECTED CANDIDATES

                </a>
                <a (click)="Offered()" class="nonactive" (click)="openCity($event)">
                    <img *ngIf="offered" src="assets/Images/64 Blue/ATTENDANCE/Report/masters/Grievance Master.png"
                        style="width: 13%;  margin-right: 17px;" />
                    <img *ngIf="!offered" src="assets/Images/64/ATTENDANCE/Report/masters/Grievance Master.png"
                        style="width: 13%;  margin-right: 17px;" /> &nbsp;OFFERED CANDIDATES

                </a>
                <a (click)="Joined()" class="nonactive" (click)="openCity($event)">
                    <img *ngIf="joined" src="assets/Images/64 Blue/ATTENDANCE/Report/masters/Department Master.png"
                        style="width: 13%;  margin-right: 17px;" />
                    <img *ngIf="!joined" src="assets/Images/64/ATTENDANCE/Report/masters/Department Master.png"
                        style="width: 13%;  margin-right: 17px;" /> &nbsp;JOINED CANDIDATES

                </a>
                <a (click)="Dropped()" class="nonactive" (click)="openCity($event)">
                    <img *ngIf="dropped"
                        src="assets/Images/64 Blue/ATTENDANCE/Report/masters/employee_benefits_mapping.png "
                        style="width: 13%;  margin-right: 17px;" />
                    <img *ngIf="!dropped" src="assets/Images/64/ATTENDANCE/Report/masters/employee_benefits_mapping.png"
                        style="width: 13%;  margin-right: 17px;" /> &nbsp;DROPPED CANDIDATES

                </a>
            </div>
            <a (click)="JobRecruitment()" *ngIf="roleid==11" class="nonactive" (click)="openCity($event)">
                <img src="assets/Images/64 Blue/Staff.png" style="width: 20px;    margin-right: 17px;" />
                <!-- <img *ngIf="Jobrecruit==false" src="assets/Images/64/Staff.png"
                    style="width: 20px;    margin-right: 17px;" />  -->&nbsp; JOB RECRUITMENT
            </a>


            <a *ngIf="roleid!=1 && roleid!=5" data-toggle="collapse" class="togglebtn button nonactive"
                data-target="#userapplications2">
                <img src="assets/Images/64/ATTENDANCE/Report/Timesheet_repoorts.png" *ngIf="roleid!=8"
                    style="width: 13%;  margin-right: 17px;" />

                &nbsp; Reports
                <!-- <img src="assets/images/downarrow.png" style="width: 20px;margin-left: 104px;"> -->
            </a>

            <div id="userapplications2" class="collapse" style="padding-left: 7%; ">
                <a (click)="JobRecruitReport()" *ngIf="roleid=='4'" class="nonactive" (click)="openCity($event)">
                    <img *ngIf="Jobrecruitreport" src="assets/Images/64 Blue/Staff.png"
                        style="width: 13%;  margin-right: 17px;" />
                    <img *ngIf="!Jobrecruitreport" src="assets/Images/64/Staff.png"
                        style="width: 13%;  margin-right: 17px;" /> &nbsp; JOB RECRUITMENT
                </a>
                <a (click)="VendorReport()" *ngIf="roleid=='3' || roleid=='6'" class="nonactive"
                    (click)="openCity($event)">
                    <img *ngIf="vendorreport" src="assets/Images/64 Blue/Staff.png"
                        style="width: 13%;  margin-right: 17px;" />
                    <img *ngIf="!vendorreport" src="assets/Images/64/Staff.png"
                        style="width: 13%;  margin-right: 17px;" /> &nbsp; JOB RECRUITMENT
                </a>
                <a (click)="AppliedReport()" class="nonactive" (click)="openCity($event)">
                    <img *ngIf="appliedreport" src="assets/Images/64 Blue/ATTENDANCE/OVER TIME DETAILS.png"
                        style="width: 13%;  margin-right: 17px;" />
                    <img *ngIf="!appliedreport" src="assets/Images/64/ATTENDANCE/OVER TIME DETAILS.png"
                        style="width: 13%;  margin-right: 17px;" /> &nbsp;APPLIED CANDIDATES
                </a>
                <a class="nonactive" (click)="openCity($event)" (click)="Shortlistedreport()">
                    <img *ngIf="shortlistedreport" src="assets/Images/64 Blue/ATTENDANCE/Report/Employee Report.png"
                        style="width: 13%;  margin-right: 17px;" />
                    <img *ngIf="!shortlistedreport" src="assets/Images/64/ATTENDANCE/Report/Employee Report.png"
                        style="width: 13%;  margin-right: 17px;" /> &nbsp;SHORTLISTED
                </a>
                <a *ngIf="roleid==8" class="nonactive" (click)="openCity($event)" (click)="ScheduledReport()">

                    <img src="assets/Images/Vector.png" style="width: 20px;    margin-right: 17px;" /> &nbsp;SCHEDULED
                    INTERVIEWS
                </a>
                <a class="nonactive" (click)="openCity($event)" (click)="SelectedReport()">
                    <img *ngIf="selectedreport" src="assets/Images/64 Blue/ATTENDANCE/Report/Probation Evaluation.png"
                        style="width: 13%;  margin-right: 17px;" />
                    <img *ngIf="!selectedreport" src="assets/Images/64/ATTENDANCE/Report/Probation Evaluation.png"
                        style="width: 13%;  margin-right: 17px;" /> &nbsp;SELECTED CANDIDATES
                </a>
                <a class="nonactive" (click)="openCity($event)" (click)="OfferedReport()">
                    <img *ngIf="offeredreport"
                        src="assets/Images/64 Blue/ATTENDANCE/Report/masters/Grievance Master.png"
                        style="width: 13%;  margin-right: 17px;" />
                    <img *ngIf="!offeredreport" src="assets/Images/64/ATTENDANCE/Report/masters/Grievance Master.png"
                        style="width: 13%;  margin-right: 17px;" />&nbsp;OFFERED CANDIDATES
                </a>
                <a class="nonactive" (click)="openCity($event)" (click)="JoinedReport()">
                    <img *ngIf="joinedreport"
                        src="assets/Images/64 Blue/ATTENDANCE/Report/masters/Department Master.png"
                        style="width: 13%;  margin-right: 17px;" />
                    <img *ngIf="!joinedreport" src="assets/Images/64/ATTENDANCE/Report/masters/Department Master.png"
                        style="width: 13%;  margin-right: 17px;" /> &nbsp;JOINED CANDIDATES
                </a>
                <a class="nonactive" (click)="openCity($event)" (click)="DroppedReport()">
                    <img *ngIf="droppedreport"
                        src="assets/Images/64 Blue/ATTENDANCE/Report/masters/employee_benefits_mapping.png"
                        style="width: 13%;  margin-right: 17px;" />
                    <img *ngIf="!droppedreport"
                        src="assets/Images/64/ATTENDANCE/Report/masters/employee_benefits_mapping.png"
                        style="width: 13%;  margin-right: 17px;" /> &nbsp;DROPPED CANDIDATES
                </a>
            </div>

            <a *ngIf="roleid==5" data-toggle="collapse" class="togglebtn button nonactive"
                data-target="#userapplications4">

                <i class="fa fa-gears icon28" style="width: 20px;   margin-right: 17px;" *ngIf="roleid!=8"></i>
                &nbsp; SCHEDULED INTERVIEWS
                <!-- <img src="assets/images/downarrow.png" style="width: 20px;margin-left: 104px;"> -->
            </a>

            <div id="userapplications4" class="collapse" style="padding-left: 7%;">
                <a routerLink="/ScheduledInterviews" class="nonactive" (click)="openCity($event)">
                    <img src="assets/Images/Vector.png" style="width: 20px;    margin-right: 17px;" /> &nbsp; SCHEDULED
                    INTERVIEWS
                </a>
                <a routerLink="/SelectedCandidates" class="nonactive" (click)="openCity($event)">
                    <img src="assets/Images/Vector.png" style="width: 20px;    margin-right: 17px;" /> &nbsp; SELECTED
                    CANDIDATES
                </a>
            </div>
            <a routerLink="/Help" class="tablinks" (click)="highlight($event)" (click)="help()">
                <img src="assets/Images/64 Blue/leaves.png" style="width:13% ;margin-right: 17px;"
                    [ngClass]="active == 'help' ? 'Active1' : 'Active2'" />
                <img [ngClass]="active != 'help' ? 'Active1' : 'Active2'" src="assets/Images/64/leaves.png"
                    style="width:13%; margin-right: 17px;">
                &nbsp;
                <span [ngClass]="active == 'help' ? 'Active1' : 'Active3'">HELP</span>
                &nbsp;
            </a>    

            <a routerLink="/SupportTicketDashboard" class="tablinks" (click)="highlight($event)"
                (click)="SupportTickets()">
                <img src="assets/Images/64 Blue/Staff.png" style="width:13% ;margin-right: 17px;"
                    [ngClass]="active == 'SupportTickets' ? 'Active1' : 'Active2'" />
                <img [ngClass]="active != 'SupportTickets' ? 'Active1' : 'Active2'" src="assets/Images/64/Staff.png"
                    style="width:13%; margin-right: 17px;">
                &nbsp;
                <span [ngClass]="active == 'SupportTickets' ? 'Active1' : 'Active3'">SUPPORT TICKETS</span>
                &nbsp;
            </a>


            <a *ngIf="roleid==10||roleid==11" class="tablinks" (click)="highlight($event)" (click)="offermanage()">
                <img src="assets/Images/64 Blue/Staff.png" style="width:13% ;margin-right: 17px;"
                    [ngClass]="active == 'offermanage' ? 'Active1' : 'Active2'" />
                <img [ngClass]="active != 'offermanage' ? 'Active1' : 'Active2'" src="assets/Images/64/Staff.png"
                    style="width:13%; margin-right: 17px;">
                &nbsp;
                <span [ngClass]="active == 'offermanage' ? 'Active1' : 'Active3'">Offer Management</span>
                &nbsp;
            </a>







            
        </div>

        

    </div>
</div>