.Job{
    color:gray;
    padding-left: 10px;
    font-size: 18px;
    padding-top: 20px;
    font-weight: 400;
  }
  .search{
    margin-left: 10px;
  }
  
  .newFont{
   
    color:black;
    width:100%;
    vertical-align: middle;
  }
  
  /* .th{
    background-color: #e4e5e6;
    color:#404040;
    font-family: "DIN Bold";
  } */
  /* .table, th, td {
  border: 1px solid lightgray;
   border-collapse: collapse; 
  } */
  .Heading{
  padding-left: 5px;
  font-size: 20px;
  color:#3247D5;
  }
  .head{
  background-color:#02CFFF ;
  color:white;
  
  }
  .FilterClass{
  padding-left: 15px;
  font-size: 15px;
  color:#0C275A;
  }
  .Count{
  
    font-size: 20px !important;
  
    font-weight: bold;
    float: right;
    padding-right: 10px;;
  }
  
  
  .button{
    padding:5px;
    border-radius: 5px;
    color:white;
    background-color: #21a4da;
    border:none;
    width:100%;
  }
  .offer{
    padding:5px;
    border-radius: 5px;
    border:none;
    color:white;
    background-color: #dc3545;
    width:100%;
  }
  .Notes{
    padding:5px;
    border-radius: 5px;
    border:none;
    color:white;
    background-color:#dc3545;
    width:100%;
  }
  .Offer{
    font-size: 20px;
  }
  
  .Save{
    padding:5px;
    border-radius: 5px;
    border:none;
    background-color:#007bff ;
    float:right;
    color:white;
    width:100%;
    font-size: 16px;
  }
  .button{
    background-color: #6c757d;
    color:white;
    border-radius: 5px;
    border:#e4e5e6;
  }
  .Text{
    font-size: 18px;
  }
  .Letter{
    font-size: 16px;
    font-weight: bold;
  }
  .count{
    font-size: 16px;
    padding-right:15px;
  }
  .card{
    width:100%;
    background: #FFFFFF;
    box-shadow: 1px 1px 15px 3px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
  }