.newrequest {
    background-color: #21a4da;
    color: white;
  }
  
  .card {
    padding: 20px;
  }
  
  .active {
    color: #3247D5;
  }
  
  th {
    /* background-color: #e4e5e6; */
    background: #02cfff;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: left;
    color: #ffffff;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
  }
  
  li a:hover {
    text-decoration: 3px solid rgb(28, 32, 94) underline;
  }
  
  .button {
    text-transform: uppercase;
    font-weight: initial;
    text-shadow: initial;
    letter-spacing: 0.5px;
    background-color: #3247d5;
  
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px;
    width: 50%;
    float: right;
    margin-right: 15px;
  
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 13px;
    letter-spacing: 0.5px;
    margin-top: 10px;
  }
  
  .requestbtn {
    background-color: #4282be;
    color: white;
    font-family: "DIN Bold";
    font-weight: bold;
    border-left: solid 1px #f5f5f5;
    font-size: 15px;
    line-height: 12px;
    text-align: center;
    white-space: nowrap;
  }
  
  .leavelist {
    padding: 0px 20px;
  }
  
  /* .container-fluid {
      font-family: "DIN Bold";
      padding: 0px;
      margin: 0px;
    } */
  
  
  .show3res {
    letter-spacing: 0.5;
    color: #3247d5;
    margin-left: 15px;
  
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0px;
  
    text-transform: uppercase;
    padding: 10px 0 5px;
  }
  
  .leavebalance {
    padding-top: 10px;
    padding-left: 10px;
    font-weight: bold;
    color: #404040;
    font-size: 20px;
  }
  
  
  .upload {
    /* margin-left: 10px;
        border-radius: 6px;
        height: 28px; */
  
    background-color: #3247d5;
  
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px;
    
    margin-right: 15px;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 13px;
    letter-spacing: 0.5px;
    margin-top: 10px;
  }
  
  .TextHeading {
    font-family: Poppins;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0.5px;
    text-align: left;
    color: #3247d5;
    margin-left: 15px;
  }
  
  
  .add {
    background-color: #3247D5;
    color: white;
    width: 90%;
  }
  
  .upload1 {
    background-color: #3247d5;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px;
    width: 30%;
    margin-right: 15px;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 13px;
    letter-spacing: 0.5px;
    margin-top: 10px;
    float: right;
  }
  