.export{
    border-radius: 10px;
    background-color: #21a4da;
    height: 35px;
    color: #fff;
    width: 100%;
    border: 1px solid #fff;
    margin-top: 2%;
}

.card{
  padding: 10px;
}
.hrline{
   margin-top: 0px;
}
.count{
    float: right;
    padding-right: 2px;
}

table{
    border-collapse: collapse;
    width: 100%;
}
.heading{
    background-color: #bebdbd;
    color: #fff;
}
td, th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}
td{
    background-color: white
}
