/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'DIN Regular';
    src: 
      
      url('assets/D-DIN.otf') 
      format('opentype');
  }
  @font-face {
    font-family: 'DIN Bold';
    src: 
      
      url('assets/D-DIN-Bold.otf') 
      format('opentype');
  }

  @font-face {
    font-family: 'DIN Medium';
    src: 
      
      url('assets/DIN Medium.otf') 
      format('opentype');
  }
  body,button,p,table,label,h1,h6,h4,h2,th,span{
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: bold;
    cursor: pointer; 
  }
  input{
    font-size: 10px;
  }
  .Count{
    color: #3247d5;
  }

  /* th{
    background-color: #e4e5e6;
    color:#404040;
    font-family: "DIN Bold";
} */
  
  .poppinns{
    font-family: 'Poppins';
    font-size: 12px;
  }


   /* table thead tr th {
    border: none!important;
    min-width: 50px;
    color: #404040 !important;
    font-size: 12px;
    background: #e4e5e6 !important;
    vertical-align: middle;
    font-family: "DIN Bold";
}

 .table td {
  color: #494949;
  font-size: 12px;
  vertical-align: middle;
  font-family: "DIN Medium";

} */


html, body { height: 100%; }
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

.Addbutton {
  text-transform: uppercase;
  font-weight: initial;
  text-shadow: initial;
  letter-spacing: 0.5px;
  background-color: #3247d5;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  padding: 5px;
  width: 40%;
  float: right;
  margin-right: 15px;
  font-size: 15px;
  font-weight: bold;
}
