<app-spinner *ngIf="loader"></app-spinner>
<div class="container-fluid">
<br>
            <div class="row">
                <div class="col-lg-12">
                    <p class="Heading"> SELECTED CANDIDATES DASHBOARD</p>
                    <!-- <hr class="HrLine"> -->
                </div>
            </div> <br>

            <div class="card">
                <div class="row FilterClass">
                    <div class="col-lg-1">
                        <p>Filter By</p>
                    </div>                
                    <div class="col-lg-2">
                        <input type="date" style="color:#0C275A;" class="form-control poppinns" (change)="GetDate($event)" name="Date" value="Date"  [(ngModel)]="Date">
                    </div>
                    <div class="col-lg-2">
                        <select  name="Select" class="form-control poppinns" [(ngModel)]="searchbynotice">
                            <option value="Select Notice Period" style="color:#0C275A;" >Select Notice Period</option>
                            <option style="color:#0C275A;" *ngFor="let job of joblist" value="15 Days">{{job.noticePeriod}}</option>
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <input class="form-control poppinns" placeholder="Search" [(ngModel)]="search" name="search">
                    </div>  
                    <div class="col-lg-2"></div>
                    <div class="col-lg-2">
                        <p class="Count" >Count:{{count}}</p>
                    </div>  
                </div> 
            </div><br> <br>

            <div class="row">
                <div class="col-lg-12" style="height: 470px; overflow-y: scroll;">
                    <table class="table tablebordered" *ngIf="(joblist | filter: search).length > 0; else noResults">
                        <thead>
                            <tr>
                                <!-- <th>Vendor</th> -->
                                <th>Job Reference ID</th>
                                <th>Interview Date</th>
                                <th>Source</th>
                                <!-- <th>Time</th> -->
                                <!-- <th>Interviewed By</th> -->
                                <!-- <th>Tentitive Joining Date</th> -->
                                <th>Job Title</th>
                                <th>Candidate Name</th>
                                <th>Phone No</th>
                                <th>Email</th>
                                <th>Total Years of Experience</th>
                                <th>Resume</th>
                                <!-- <th>Relevant Experience</th> -->
                                <!-- <th>CTC Budget</th> -->
                                <th>Notice Period</th> 
                                <th>Interviewer Comments</th>
                                <!-- <th>Interviewer Feedback</th> -->
                                <th  *ngIf="roleid!='4' && roleid=='6'">Actions</th>
                            </tr>
                            <tr *ngFor="let job of joblist|filter:search |filter:searchbynotice   ">
                                <td>{{job.jobRefernceID}}</td>
                                <td>{{job.date|date}}</td>
                                <td>{{job.source}}</td>
                                <!-- <td>{{job.slotTime}}</td> -->
                                <!-- <td>{{job.staffname}}</td> -->
                                <td>{{job.jobTitle}}</td>
                                <td>{{job.candidateName}}</td>
                                <td>{{job.phoneNo}}</td>
                                <td>{{job.email}}</td>
                                <td>{{job.yearsofExp}}</td>
                                <td>
                                    <img src="assets/Images/pdf.png" style="width: 30px;" (click)="GetOfferLetter(job.resumeUrl)">
                                  </td>
                                <!-- <td>{{job.relavantExp}}</td>   -->
                                <!-- <td>{{job.ctc}}</td>  -->
                                <td>{{job.noticePeriod}}</td> 
                                <td>{{job.interviewercomments}}</td>    
                                <td  *ngIf="roleid!='4' && roleid=='6'">
                                    <button class="btn btn-danger" *ngIf="job.offered=='0'" data-toggle="modal"
                                        data-target="#exampleModal" (click)="GetOfferID(job.id,job)">Offer</button><br><br>
        
        
                                    <button class="btn btn-danger" *ngIf="job.offered=='0'" data-toggle="modal"
                                        data-target="#exampleModal1" (click)="GetOfferID(job.id,job)">Notes</button>
        
                                </td>
                            </tr>
                        </thead>
                    </table>
                    <ng-template #noResults>
                        <p>no results found for "{{search}}" </p> 
                      </ng-template>
                </div>
            </div>
       
</div>






<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:700px">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Notes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-3">
                        <label class="Letter">Joining Date : <span style="color: red;">*</span></label>
                    </div>
                    <div class="col-lg-6">
                        <input type="date" [(ngModel)]="date" name="date" class="form-control">
                    </div>

                </div><br>
                <div class="row">
                    <div class="col-lg-3">
                        <label class="Letter">Joining Bonus : <span style="color: red;">*</span></label>
                    </div>
                    <div class="col-lg-6">
                        <!-- <textarea class="form-control" rows="4" placeholder="Notes" [(ngModel)]="joiningbonus" name="offernotes"></textarea> -->

                        <input type="text" [(ngModel)]="joiningbonus" name="joiningbonus" class="form-control"
                            placeholder="Joining Bonus">
                    </div>
                </div><br>

                <div class="row">
                    <div class="col-lg-3">
                        <label class="Letter">Notice Period By then : <span style="color: red;">*</span></label>
                    </div>
                    <div class="col-lg-6">
                        <!-- <textarea class="form-control" rows="4" placeholder="Notes" [(ngModel)]="joiningbonus" name="offernotes"></textarea> -->

                        <input type="text" [(ngModel)]="noticeperiodbythen" name="noticeperiodbythen" class="form-control"
                            placeholder="Notice Period By then">
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-3">
                        <label class="Letter">Notes : <span style="color: red;">*</span></label>
                    </div>
                    <div class="col-lg-6">
                        <!-- <textarea class="form-control" rows="4" placeholder="Notes" [(ngModel)]="joiningbonus" name="offernotes"></textarea> -->


                        <textarea rows="4"  [(ngModel)]="Notes" name="Notes" class="form-control" placeholder="Notes"></textarea>
                        <!-- <input type="text"> -->
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-5">

                    </div>
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-primary" (click)="updatejoiningdate()"
                            data-dismiss="modal">Save</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>





<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:700px">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Offer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-3">
                        <label class="Letter">Offer Letter : <span style="color: red;">*</span></label>
                    </div>
                    <div class="col-lg-6">
                        <!-- -->
                        <!-- <ngx-dropzone style="height:50px">
                            <ngx-dropzone-label (change)="onattachmentUpload($event)" >Drag and drop file here</ngx-dropzone-label>
                        </ngx-dropzone> -->
                        
                        <ngx-dropzone (change)="onSelect($event)" style="height: 60px;" accept="application/pdf">
                            <ngx-dropzone-label>Drop it here!</ngx-dropzone-label>
                            <ngx-dropzone-preview *ngFor="let f of files" [removable]="true"  (removed)="onRemove(f)">
                                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                            </ngx-dropzone-preview>
                        </ngx-dropzone>
                    </div>
                    <div class="col-lg-3">
                        <!-- <img src="{{attachmentsurl}}" style="width: 40px;"> -->
                    </div>

                </div><br>
                <div class="row">
                    <div class="col-lg-3">
                        <label class="Letter">Notes : <span style="color: red;">*</span></label>
                    </div>
                    <div class="col-lg-6">
                        <textarea class="form-control" rows="4" placeholder="Notes" [(ngModel)]="offernotes"
                            name="offernotes"></textarea>
                    </div>                  
                </div><br>
                <div class="row">
                    <div class="col-lg-3">
                        <label class="Letter">Tentative Date <span style="color: red;">*</span></label>
                    </div>
                    <div class="col-lg-6">
                       <input type="Date" class="form-control" [(ngModel)]="TentativeDate" > 
                    </div>
                </div> <br>
                <div class="row">
                    <div class="col-lg-5">
                    </div>
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-primary" (click)="updatedetails()"
                            data-dismiss="modal">Save</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>