<app-spinner *ngIf="loader"></app-spinner>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-12">
                    <p class="Heading"> SELECTED CANDIDATES DASHBOARD</p>
                    <hr class="HrLine">
                </div>
            </div> <br>

            <div class="card"><br>
                <div class="row FilterClass">
                    <div class="col-lg-1">
                        Filter By
                    </div>
                    <div class="col-lg-3">
                        <input class="form-control" placeholder="Search" [(ngModel)]="search" name="search">
                    </div>                  
                    <div class="col-lg-3">
                        <input type="date" class="form-control" (change)="GetDate($event)" name="Date" value="Date"  [(ngModel)]="Date">

                        <!-- <select name="Select" class="form-control">
                            <option value="Select CTC">Select CTC</option>
                            <option value="30,000-50,000">30,000-50,000</option>
                            <option value="50,000-1,00000">50,000-1,00000</option>
                            <option value="1,00000-2,00000">1,00000-2,00000</option>
                        </select> -->
                    </div>
                    <div class="col-lg-3">
                        <select name="Select" class="form-control">
                            <option value="Select Notice Period">Select Notice Period</option>
                            <option value="15 Days">15 Days</option>
                            <option value="30 Days">30 Days</option>
                            <option value="45 Days">45 Days</option>
                            <option value="90 Days">90 Days</option>
                        </select>
                    </div>
                    <div class="col-lg-2">
                        <p class="count">Count:{{count}}</p>
                    </div>
                </div> <br>
            </div><br>

            <div class="row">
                <div class="col-lg-12">
                    <table class="table tablebordered">
                        <thead>
                            <tr class="head">
                                <!-- <th>Vendor</th> -->
                                <th>Job Reference ID</th>
                                <th>Interview Date</th>
                                <th>Source</th>
                                <th>Time</th>
                                <th>Interviewed By</th>
                                <!-- <th>Tentitive Joining Date</th> -->
                                <th>Job Title</th>
                                <th>Candidate Name</th>
                                <th>Phone No</th>
                                <th>Email</th>
                            
                               
                                <th>Total Years of Experience</th>
                                <th>Relevant Experience</th>
                                <th>CTC Budget</th>
                                <th>Notice Period</th> 
                                <th>Interviewer Comments</th>
                                <!-- <th>Interviewer Feedback</th> -->
                                <th  *ngIf="roleid!='4' && roleid=='6'">Actions</th>
                            </tr>
                            <tr *ngFor="let job of joblist|filter:search    ">
                                <td>{{job.jobRefernceID}}</td>
                                <td>{{job.date}}</td>
                                <td>{{job.source}}</td>
                                <td>{{job.slotTime}}</td>
                                <td>{{job.staffname}}</td>
                                <td>{{job.jobTitle}}</td>
                                <td>{{job.candidateName}}</td>
                                <td>{{job.phoneNo}}</td>
                                <td>{{job.email}}</td>
                                <td>{{job.yearsofExp}}</td>
                                <td>{{job.relavantExp}}</td>  
                                <td>{{job.ctc}}</td> 
                                <td>{{job.noticePeriod}}</td> 
                                <td>{{job.interviewercomments}}</td>    
                                <td  *ngIf="roleid!='4' && roleid=='6'">
                                    <button class="btn btn-danger" *ngIf="job.offered=='0'" data-toggle="modal"
                                        data-target="#exampleModal" (click)="GetOfferID(job.id,job)">Offer</button><br><br>
        
        
                                    <button class="btn btn-danger" *ngIf="job.offered=='0'" data-toggle="modal"
                                        data-target="#exampleModal1" (click)="GetOfferID(job.id,job)">Notes</button>
        
                                </td>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>

<!-- <div id="Offer" class="modal fade" role="dialog">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Offer</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <hr>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-4">
                        <label class="Offer">Offer Letter:</label>
                    </div>
                    <div class="col-lg-5">
                        <ngx-dropzone (change)="onSelect($event)">
                            <ngx-dropzone-label>Drag and Drop Here!!</ngx-dropzone-label>
                            <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                            </ngx-dropzone-preview>
                        </ngx-dropzone>
                    </div>                  
                </div> <br>
                <div class="row">
                    <div class="col-lg-4">
                        <label class="Offer">Notes :</label>
                    </div> 
                    <div class="col-lg-5">
                        <textarea class="form-control" placeholder="Notes"></textarea>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-5"></div>
                    <div class="col-lg-2">
                        <button class="Save">Save</button>
                    </div>
                </div>          
            </div>
            <div class="modal-footer">
                <hr>
               <div class="col-lg-2">
                   <button class="button">Close</button>
               </div>
            </div>
        </div>
    </div>
</div>

<div id="Notes" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Notes</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-3">
                        <label class="Text">Joining Date :</label>
                    </div>
                    <div class="col-lg-5">
                       <input class="form-control" type="date">
                    </div>                  
                </div> <br>
                <div class="row">
                    <div class="col-lg-3">
                        <label  class="Text">Joining Bonus :</label>
                    </div>
                    <div class="col-lg-5">
                       <input class="form-control" placeholder="Joining Bonus">
                    </div>                  
                </div> <br>

                <div class="row">
                    <div class="col-lg-3">
                        <label  class="Text">Notice Period By then :</label>
                    </div>
                    <div class="col-lg-5">
                       <input class="form-control" placeholder="Notice Period By then">
                    </div>                  
                </div> <br>

                <div class="row">
                    <div class="col-lg-3">
                        <label  class="Text">Notes :</label>
                    </div>
                    <div class="col-lg-5">
                      <textarea class="form-control" placeholder="Notes"></textarea>
                    </div>                  
                </div> <br>
                <div class="row">
                    <div class="col-lg-5"></div>
                    <div class="col-lg-2">
                        <button class="Save">Save</button>
                    </div>
                </div>              
            </div>
            <div class="modal-footer">
                <hr>
               <div class="col-lg-2">
                   <button class="button">Close</button>
               </div>
            </div>
        </div>
    </div>
</div> -->



<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:700px">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Notes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-3">
                        <label class="Letter">Joining Date : </label>
                    </div>
                    <div class="col-lg-6">
                        <input type="date" [(ngModel)]="date" name="date" class="form-control">
                    </div>

                </div><br>
                <div class="row">
                    <div class="col-lg-3">
                        <label class="Letter">Joining Bonus :</label>
                    </div>
                    <div class="col-lg-6">
                        <!-- <textarea class="form-control" rows="4" placeholder="Notes" [(ngModel)]="joiningbonus" name="offernotes"></textarea> -->

                        <input type="text" [(ngModel)]="joiningbonus" name="joiningbonus" class="form-control"
                            placeholder="Joining Bonus">
                    </div>
                </div><br>

                <div class="row">
                    <div class="col-lg-3">
                        <label class="Letter">Notice Period By then :</label>
                    </div>
                    <div class="col-lg-6">
                        <!-- <textarea class="form-control" rows="4" placeholder="Notes" [(ngModel)]="joiningbonus" name="offernotes"></textarea> -->

                        <input type="text" [(ngModel)]="noticeperiodbythen" name="noticeperiodbythen" class="form-control"
                            placeholder="Notice Period By then">
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-3">
                        <label class="Letter">Notes :</label>
                    </div>
                    <div class="col-lg-6">
                        <!-- <textarea class="form-control" rows="4" placeholder="Notes" [(ngModel)]="joiningbonus" name="offernotes"></textarea> -->


                        <textarea rows="4"  [(ngModel)]="Notes" name="Notes" class="form-control" placeholder="Notes"></textarea>
                        <!-- <input type="text"> -->
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-5">

                    </div>
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-primary" (click)="updatejoiningdate()"
                            data-dismiss="modal">Save</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>





<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:700px">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Offer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-3">
                        <label class="Letter">Offer Letter : </label>
                    </div>
                    <div class="col-lg-6">
                        <!-- -->
                        <!-- <ngx-dropzone style="height:50px">
                            <ngx-dropzone-label (change)="onattachmentUpload($event)" >Drag and drop file here</ngx-dropzone-label>
                        </ngx-dropzone> -->
                        
                        <ngx-dropzone (change)="onSelect($event)" style="height: 60px;" accept="application/pdf">
                            <ngx-dropzone-label>Drop it here!</ngx-dropzone-label>
                            <ngx-dropzone-preview *ngFor="let f of files" [removable]="true"  (removed)="onRemove(f)">
                                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                            </ngx-dropzone-preview>
                        </ngx-dropzone>
                    </div>
                    <div class="col-lg-3">
                        <!-- <img src="{{attachmentsurl}}" style="width: 40px;"> -->
                    </div>

                </div><br>
                <div class="row">
                    <div class="col-lg-3">
                        <label class="Letter">Notes :</label>
                    </div>
                    <div class="col-lg-6">
                        <textarea class="form-control" rows="4" placeholder="Notes" [(ngModel)]="offernotes"
                            name="offernotes"></textarea>
                    </div>                  
                </div><br>
                <div class="row">
                    <div class="col-lg-3">
                        <label class="Letter">Tentative Date</label>
                    </div>
                    <div class="col-lg-6">
                       <input type="Date" class="form-control"> 
                    </div>
                </div> <br>
                <div class="row">
                    <div class="col-lg-5">
                    </div>
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-primary" (click)="updatedetails()"
                            data-dismiss="modal">Save</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>